# 2. Основы Numpy

## 2.1 Основы Numpy. Зачем при изучении Pandas нужен Numpy

In [ ]:
# 2 способа реализации таблицы в Python
# Всегда иметь дело со списками
# Библиотека Numpy
# Numpy является мощной библиотекой и основой для Pandas
# В будущем всё-равно придётся обращаться к нему

In [ ]:
table1 = [                           # создаём таблицу
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]
print(table1)

In [ ]:
table1[2][2]                         # обрщаемся к третьей строке и третьему элементу

In [ ]:
table2 = {'Столбец1' : [1, 4, 7],    # создаём таблицу
         'Столбец2' : [2, 5, 8],
         'Столбец3' : [3, 6, 9]}
print(table2)
print(table1)

In [ ]:
table2['Столбец2'][1]                # обращаемся к данным из Столбца 2 и второму элементу.

In [ ]:
import numpy

In [ ]:
# Утановка дополнительного модуля
!pip install numpy

In [ ]:
# Показать информацию по установленному
!pip show numpy

In [ ]:
# Перед началом работы с библиотекой её сначала надо импортировать
import numpy as np   ## np для удобства дальнейшего использования

In [ ]:
# Создание массива
# array - массив
# функция array принимает на вход лист
arr1 = np.array(table1)            # данные из таблицы1
arr2 = np.array([1,2,3,4,5])       # произвольные данные

In [ ]:
# Массивы из библиотеки Numpy работают быстрее в 10-100 раз чем наши любимые питоновские списки (list)
# А еще они сильно меньше потребляют оперативной памяти. Это важно, когда вы работаете с реальными проектами.
# Numpy лег в основу многих библиотек для анализа данных и машинного обучения.

In [ ]:
# Самый простой способ создать Numpy массив с помощью функции array.
lst = [1, 2, 3, 4, 5]
arr_x = np.array(lst)
arr_x

In [ ]:
# Свойство ndim - сокращение от number of dimensions (переводится как количество измерений)
# Поможет ответить на вопрос: а сколько измерений в моем массиве (какая вложенность)?
lst2 = [[1,2,3], [4,5,6]]
arr_xx = np.array(lst2)
#arr_xx
print(arr_xx)
print(len(arr_xx))  # кол-во вложенных подмассивов
arr_xx.ndim

In [ ]:
# Свойство shape (переводится как форма) - показывает размер каждого измерений.
# Если у вас shape = (4,) это значит, что у вас одномерный массив длинной 4
# Если у вас shape = (2, 3) это значит, что у вас двумерный массив (массив, который состоит из подмассивов). Каждый подмассив длинной 3.
# Если у вас shape = (4, 3, 2) это значит, что у вас трехмерный массив. Но из чего он состоит? Представьте себе двумерный массив размером (3, 2). Вот таких двухмерных массивов (называют матрицами) у вас будет 4.
lst3 = [[1,2,3], [4,5,6], [7,8,4.5]]
arr_xy = np.array(lst3)
print(arr_xy)
print(len(arr_xy))  # кол-во вложенных подмассивов
arr_xy.shape
#arr_xy.ndim

In [ ]:
# Тип данных
# У каждого элемента массива есть свой тип данных.
# Это сильно помогает массиву быть быстрее чем его брату питоновскому списку.
arr_xy.dtype

In [ ]:
# Создание массива с нулями внутри
# Если в функцию zeros передать просто число, тогда будет создан одномерный массив
# Если в функцию zeros передать кортеж из двух чисел, например zeros((3, 2)), тогда будет создана матрица с тремя строками и двумя столбцами.
arr_0 = np.zeros(5)
#arr_0
print(arr_0)
arr_1 = np.zeros((2,3))  # 2 - кол-во подмассивов, 3 - сколько нулей надо
#arr_1
print(arr_1)
arr_1.ndim

In [ ]:
# Создание массива с единицами внутри
# ВАЖНО! Передаём либо значение либо кортеж!
arr_11 = np.ones((5, 5, 5))
print(arr_11)
print(arr_11.ndim)
print(arr_11.shape)
print(arr_11.dtype)

In [ ]:
# Функция full
# РАЗМЕРНОСТЬ передаётся кортежем!
arr_full = np.full(5, -1)  # 5 - размер, -1 - значение, которым заполнить массив
print(arr_full)
arr_full_2d = np.full((2, 3), -1)  # (2, 3) - 2 ряда по 3 значения, -1 - значение
print(arr_full_2d)

In [ ]:
# Функция arange
# Генеррует последовательность
arr_arr = np.arange(10)
print(arr_arr)

## 2.2 Основы Numpy. Практика: shape, dtype, ndim, zeros, ones, arange

In [ ]:
# Напишите функцию, которая возвращает numpy массив на основе предложенного списка (lst).
import numpy as np
def solution(lst):
    arr = np.array(lst)
    return arr
solution([1, 2, 4])

In [ ]:
# Напишите функцию, которая возвращает одномерный массив длинной 100 и заполненный нулями.
import numpy as np
def solution():
    arr = np.zeros(100)
    return arr
solution()

In [ ]:
# Создайте массив заполненный нулями у которого shape = (2, 5)
import numpy as np
def solution():
    arr = np.zeros((2,5))
    return arr
a = solution()
print(a.shape)

In [ ]:
# Создайте массив заполненный единицами у которого 5 строк и 8 столбцов (5 вложенных массивов длинной 8)
import numpy as np
def solution():
    arr = np.ones((5,8))
    return arr
solution()

In [ ]:
# Создайте одномерный numpy массив со значениями 0, 1, 2, .... 99 (диапазон значений от 0 до 99)
import numpy as np
def solution():
    arr = np.arange(100)
    return arr
solution()

In [ ]:
# Создайте двумерный массив размером 5 х 2, который полностью будет заполнен значением 'G'
import numpy as np
def solution():
    arr = np.full((5,2), "G")
    return arr
solution()

## 2.3 Основы Numpy. Типы данных и их преобразование, арифметика, доступ к элементам

In [ ]:
# Типы данных, в которых хранятся массивы могут быть совершенно разными
# Задать тип данных сразу при создании массива:
arr_2 = np.array([1,2,3])
arr_3 = np.array([1,2,3], dtype=np.float64)  # вот тут задаём тип данных, который нам нужен
print(arr_2, arr_3)
print(arr_2.dtype, arr_3.dtype)

In [ ]:
# Поменять тип массива - astype()
# ВАЖНО! функция не модифицирует сам массив
arr_3.astype(np.int8)
print("массив arr_3:", arr_3)
print('тип массива arr_3:', arr_3.dtype)  # тип данным массива arr_3 остался прежним!
arr_4 = arr_3.astype(np.int8)  # Заводим новую переменную/массив, в который сохряняем с новым типом!
print("массив arr_4:", arr_4)
print('тип массива arr_4:', arr_4.dtype)

In [ ]:
# Поменять тип данных в самом массиве:
arr_4 = arr_4.astype(np.float32)
print(arr_4)
print(arr_4.dtype)

In [ ]:
# Если вы поменяете тип данных с float_ на int_, то numpy отрежет десятичную часть от каждого числа и оставит только целую.
# Округления не будет! Округление делается по другому.

In [ ]:
# Преобразование цифр в формате строки:
arr_numb = np.array(['1', '-2.5', '10'])
print(arr_numb, arr_numb.dtype)
arr_format = arr_numb.astype(np.float32)
print(arr_format, arr_format.dtype)

In [ ]:
# Перенять тип данных с другого массива
print(arr_4, arr_4.dtype)
print(arr_3, arr_3.dtype)
arr_4 = arr_4.astype(arr_3.dtype)  # Преобразовать тип данных arr_4, как у arr_3
arr_4.dtype

In [ ]:
# Арифметическое действие над элементами
# При таком действии с массивом действие производится над каждым элементом.
import numpy as np
lst1 = [1, 2, 3, 4, 5]
n1 = np.array(lst1)  # одномерный массив
print(n1, n1.ndim, n1.dtype, n1.shape, sep='\n')
print('='*30)
print(n1*2, n1*n1, n1/10, n1+1, n1-10, 5-n1, sep='\n')
print('*'*30)
n2 = np.array([[1,2,3], [4,5,6]])  # двумерный массив
print(n2, n2.ndim, n2.dtype, n2.shape, sep='\n')
print('='*30)
print(n2*2, n2*n2, n2/10, n2+1, n2-10.5, 5-n2, sep='\n')

In [ ]:
# Сравнение списиков и массивов. Сравниваются поэлементно!
# Сравним Питоновские списки:
temp1009 = [36.6, 37.0, 38.0]
temp1109 = [37.6, 36.0, 34.0]
#temp1009 > temp1109
print(temp1009 > temp1109)
print('-'*20)
# Ответ будет: False
# Сравним списки Numpy:
import numpy as np
temp1009_1 = np.array(temp1009)
temp1109_1 = np.array(temp1109)
#temp1009_1 > temp1109_1
print(temp1009_1 > temp1109_1)
# Ответ будет: [False  True  True]
m3 = temp1009_1 < temp1109_1
print(m3, m3.dtype)

In [ ]:
# Доступ к элементу массива
# Обращаемся по индексу
# Также по индексу можно поменять
import numpy as np
temp1010 = [36.6, 37.0, 38.0, 38.0]
temp1010_1 = np.array(temp1010)
print(temp1010_1, temp1010_1.dtype, temp1010_1.ndim, temp1010_1.shape)
temp1010_1[2:4] = 40
print(temp1010_1, temp1010_1[1])
n55 = temp1010_1[1:3]
print(n55)

[36.6 37.  38.  38. ] float64 1 (4,)
[36.6 37.  40.  40. ] 37.0
[37. 40.]

In [ ]:
# ВАЖНО!
# Если берём часть массива и изменям его - изначальный массив также меняется!
import numpy as np
m23 = np.arange(5)
print(m23)
m24 = m23[0:3]
print(m24)
m24[:] = 0
print(m24)
print(m23)

## 2.4 Основы Numpy. Практика: арифметика, преобразование типов, доступ к элементам

In [ ]:
# На вход подается одномерный массив со значениями от 0 до 5 (включительно).
# Примените некоторую операцию  чтобы на выходе получился массив со значениями 1000, 1001....1005
import numpy as np
def solution(arr):
    arr = np.arange(6)+1000
    return arr
solution(1)

In [ ]:
# На вход подается одномерный массив в котором хранится информация о количестве картофеля на каждом складе (всего 5 складов)
# Посчитайте для каждого склада, сколько процентов картофеля от общего количества хранится на каждом складе.
# Общее количество картофеля на всех складах 115 кг. Не забудьте что каждое значение надо умножить на 100.
import numpy as np
lst = [40, 30, 10, 10, 25]  # сам создал список, с которым работать. общая сумма - 115
def solution(arr):
    arr = np.array(arr) / 115 * 100
    #arr = arr / 115
    #arr = arr * 100
    return arr
solution(lst)

In [ ]:
# Создайте одномерный массив со значениями в диапазоне от 0 до 10 (включительно). 
# Создайте второй одномерный массив со значениями в диапазоне от 10 до 20 (включительно). 
# Вычтите из второго массива первый. 
# Проверьте каждое значение получившегося массива на равенство значению 10. Результат сравнения верните в отдельном numpy массиве.
import numpy as np
def solution():
    arr = np.arange(11)
    arr2 = arr+10
    arr3 = arr2 - arr
    arr4 = arr3 == 10
    return arr4
#solution()
def solution1():
  arr = (np.arange(10,21) - np.arange(11)) == 10
  return arr
solution1()

In [ ]:
# Нарушили ограничение 80км час
import numpy as np
lst = [40, 30, 10, 10, 25]
def solution(arr):
    arr = np.array(arr)-80
    return arr
solution(lst)

In [ ]:
# Преобразовать тип и сложить 2 значения
import numpy as np
lst = ['40.3', '30.1', '10.3', '10.2', '25.2']
def solution(arr):
    arr = np.array(arr, dtype=np.float32)[1] + np.array(arr, dtype=np.float32)[3]
    return arr
solution(lst)

In [ ]:
# Задача для отработки индексов
import numpy as np
arr1 = np.array([0,1,2,3,4,5])
arr2 = np.array([10,11,12,13,14,15])
#print(arr1, arr2)
def solution(arr1, arr2):
    arr = np.array((arr1[0] + arr2[-2], arr1[1] + arr2[-1]))
    return arr
solution(arr1, arr2)

## 2.5 Основы Numpy. Двумерные и трехмерные массивы. Учимся применять индексы

In [ ]:
# Вытащить из массива элементы и работать с ними независимо
import numpy as np
n1 = np.arange(1, 11)
print(n1)
n2 = n1[1:4].copy()  # Вот за счёт этого действия - функция copy()
print(n1, n2)
n2[:] = 0  # в скопированом массиве меняем элементы и изменения не отражаются в оригинальном массиве
print(n1, n2)

In [ ]:
import numpy as np
n2d = np.array([[1,2,3], [4,5,6]])
print(n2d[1][1])  # второй массив / второй элемент
print(n2d[1, 1])  # обращение туда же другим способом
# эквивалентны

In [ ]:
# Трёхмерные массивы
import numpy as np
n3d = np.array([[[1,2,3],[4,5,6]], [[7,8,9],[10,11,12]]])
print(n3d, n3d.ndim, n3d.shape, sep='\n')
# обратимся к консретному числу в массиве
print(n3d[1][0][2], n3d[1,0,2])

In [ ]:
# Занулим одну из матриц
import numpy as np
n3d = np.array([[[1,2,3],[4,5,6]], [[7,8,9],[10,11,12]]])
n3d[0] = 0
print(n3d)

In [ ]:
#
# Первое число - это уровень массива, подмассив
import numpy as np
n2d = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16], [17,18,19,20]])
print(n2d)
print(n2d[2:4])    # Получим тут подмассивы 3 и 4
print(n2d[1:2,2])  # подмассив 2, элемент 3
print(n2d[2,1])    # Подмассив 3 элемент 2
print(n2d[:,-1])   # все подмассивы / элемент первый с конца
print(n2d[2,1:3])  # подмассив 3, элементы 2 - 3

In [ ]:
# Альтернативный вариант идексации - маска
# Маска это массив (одномерный или многомерный), который состоит из булевых значений.
# Если True - то элемент будет вытянут, если False - нет.
# Функция mask включает в себя копирование массива! .copy()
import numpy as np
n55 = np.arange(10,20)
print(n55, n55.shape, n55.ndim, sep='\n')
mask = [False, True, False, True, False, True, False, True, False, True]
n56 = n55[mask]  # массив скопирован отдельный! Не будет влиять на оригинальный массив
print(n56)
n56[1] = 100  # данное изменение мссива не отразится в n55!
print(n55, n56, sep='\n')
print(n55>15)

In [ ]:
import numpy as np
n = np.arange(5)
print(n)
mask = [True, False, False, False, True]
print(n[mask])  # вернёт [0, 4]
k = n[mask]
#k[0] = 19  # [19, 4], но n всё ещё [0, 1, 2, 3, 4]
print(k[0])
print(n)

In [ ]:
# Отфильтруем значения более 5
import numpy as np
n57 = np.arange(0,10)
print('n57 =', n57)
#print(n57>=5)  # значения больше 5
mask = n57>=5  # задаём маску
print('mask =', mask)
#print(n57[mask])  # прогоняем массив через маску, которую задали ранее
n58 = n57[mask]  # новый массив, через маску на n57. КОПИЯ массива! ВАЖНО!
print('n58 =', n58)
#n58[:]=0
#print(n57,n58)  # изменение n58 никак не отразилось на n57!
# Ещё один способ ещё проще
n59 = n57[n57<5]
print('n59 = ', n59)

In [ ]:
#
import numpy as np
users = np.array(['Andry', 'Roy', 'Jim', 'Carl', 'Tomas'])  # имя посетителей
# Каждая строка соответствует имени посетителя
visits = np.array([
    [1,2,1,0,4,0,2],  # день недели / количество посещений в каждый день
    [1,3,1,2,0,1,3],
    [4,1,5,0,3,6,2],
    [1,2,1,3,0,1,3],
    [0,2,0,0,5,2,2],
])
#print(visits[-1])
#print(users == 'Andry')
mask = users == 'Roy'
#visits[mask]
print(f'Фильтр через mask даст нам {visits[mask]}')

Фильтр через mask даст нам [[1 3 1 2 0 1 3]]

## 2.6 Основы Numpy. Практика: закрепляем работу с индексами

In [ ]:
# Выполните поэлементное сложение двух столбцов.
import numpy as np
def solution(arr):
    arr = arr[:,0] + arr[:,3]
    return arr

In [ ]:
#
import numpy as np
def solution(arr):
    arr = arr[1:4,1] + arr[1:4,3]
    return arr

## 2.7 Основы Numpy. Маска и слайсинг вместе, прихотливая индексация, а еще reshape

In [ ]:
# В скобках можно работать и с маской и с индексами одновременно!
import numpy as np
users = np.array(['Andry', 'Roy', 'Jim', 'Carl', 'Tomas']) # имя посетителей
# Каждая строка соответствует имени посетителя
visits = np.array([
    [1,2,1,0,4,0,2],  # день недели / количество посещений в каждый день
    [1,3,1,2,0,1,3],
    [4,1,5,0,3,6,2],
    [1,2,1,3,0,1,3],
    [0,2,0,0,5,2,2],
])
mask = users == 'Roy'
print(f'Фильтр через mask даст нам {visits[mask]}')  # Вытащит данные за всю неделю
# Теперь нам необходиимы вытащить данные только за субботу и воскресенье
mask2 = users == 'Jim'
print(visits[mask2])  # Пробуем через другую маску -Jim
print(visits[mask2, 5:])  # Маска + срез(слайс) - суббота и восресенье
print(visits[mask2, -1])  # воскресенье

In [ ]:
# Что делать, если не Адрей?
mask3 = users != 'Tomas'  # все, кроме томаса
print(mask3)
print(visits[mask3])

In [ ]:
# NOT в Numpy
# Получить противоположную маску
# Специальная команда в Numpy - позволяет инверсировать - знак тильда ~
mask4 = users == 'Carl'
print(mask4)   # Обычная маска
print(~mask4)  # инверсированная версия маски

In [ ]:
# При работе с numpy для логических операций вы не работаете со стандартными питоновскими and и or.
# У numpy свои операторы:
# Логическое ИЛИ: |
# Логическое И: &
# OR +
# AND *
# False 0
# True 1
# True or False (1+0=1) True
# True and False (1*0=0) False
# Объединение масок:
print("   ", mask4)  # готовая маска
print("   ", mask2)  # готовая маска
print("И  ", mask2 & mask4)  # условие И
print("ИЛИ", mask2 | mask4)  # условие ИЛИ
mask5 = (users == 'Jim') & (users == 'Carl')  # двойная маска с условием И
mask6 = (users == 'Jim') | (users == 'Carl')  # двойная маска с условием ИЛИ
print(mask5)
print(mask6)
#mask5 = (mask2) & (mask4)
#mask6 = (mask2) | (mask4)
print("Массив через общую маску 6:", visits[mask6])
print("Массив через общую маску 5:", visits[mask5])

In [ ]:
# Прихотливая индексация
print(visits[[0,2,4], :])  # первая + третья + пятая строки / все значения
print('*'*30)
print(visits[[1,3], :2])   # вторая + четвёртая строки / все до второго значения
print('*'*30)
print(visits[[0,2,4]])     # целиком строки
print('*'*30)
print(visits[[4,2,0]])     # не по порядку строки
print('*'*30)

In [ ]:
# Создать новую матрицу из частей существующей матрицы
import numpy as np
mass = np.array([[1,2,3],
                 [4,5,6],
                 [7,8,9]])
print(mass)
# Первый способ:
line1 = mass[0]
line2 = mass[2]
new_mass = np.array([line1, line2])
print(new_mass)
#new_mass[0] = 0
#print(mass, new_mass)  # оригинальный массив не меняется!
# Второй способ:
new_mass2 = mass[[0,2], :]
print(new_mass2)
#new_mass2[0] = 0
#print(mass, new_mass2)  # оригинальный массив также не меняется!

In [ ]:
# Продолжение по прихотливой индексации
import numpy as np
visits = np.array([
    [1,2,1,0,4,0,2],
    [1,3,1,2,0,1,3],
    [4,1,5,0,3,6,2],
    [1,2,1,3,0,1,3],
    [0,2,0,0,5,2,2],])
#print(visits)
#print(visits[[0,2,4], :])  # получим 3 определённые строки
# Что делать, если нужны определённые колонки/элементы?
print(visits[[0,2,4], [1,3,4]])  # в таком случае создаст новый массив
# вывел элементы по индексам 0/1, 2/3, 4/4
# Необходимо от уже имеющейся выборки взять ещё раз выборку:
visits[[0,2,4]][:, [1,3,4]]  # :, - все строки, 1/3/4 элементы

In [ ]:
# Из одномерного массива сделать многомерным
# Функция трансформации
import numpy as np
n_test = np.arange(1,51)
# 10 строк и 5 столбцов нужно сделать
print(n_test.shape)
print(n_test.reshape((10,5)))  # кортеж внутри. 10 строк по 5 элементов/кол-во колонок. 
# НЕ сохраняет изменения в массиве
# Произведение кортежа должно соответствовать кол-ву элементов в массиве оригинальном
#n_test.reshape((10,6)) - выдаст ошибку!
mm = n_test.reshape((-1,10))  # -1 укажет о необходимости самому назначить кол-во строк(подмассивов)
print(mm)

In [ ]:
# Создадим ТРЁХМЕРНЫЙ массив
import numpy as np
n_test = np.arange(100,200)
print(n_test.shape)
n3d = n_test.reshape((2,5,10))  # 2 - кол-во двумерных массивов, 5 - подмассивы, 20 - кол-во элементов
print(n3d)
n3d_1 = n_test.reshape((5,-1,5))  # 5 двумерных массивов, кол-во подмассивов сам определи, по 5 эл-тов
print(n3d_1)

In [ ]:
# Доработать функцию так чтобы она выводила значения менее 20 и более 40
import numpy as np
arr1 = np.arange(15,40)
arr1 = arr.reshape((5,5))
#print(arr1)
def solution(arr):
    arr = (arr<20) | (arr>40)
    return arr
solution(arr)  # вызываем функцию - получим просто маску
print(solution(arr1))  # оригинальный массив прогоняем через функцию. на выходе маска под массив
print(arr1[solution(arr1)])  # ориг массив прогоняем через маску его же массива. Получаем массив из элементов, которые удовлетворяют требованиям

In [ ]:
# Элементы по диагонали
# вытащить значения 15 21 27 33 39
import numpy as np
arr2 = np.arange(15,40)
arr2 = arr2.reshape((5,5))
#print(arr2)
import numpy as np
def solution(arr):
    arr = arr[[0,1,2,3,4], [0,1,2,3,4]]
    return arr
solution(arr2)

## 2.8 Основы Numpy. Практика: учимся изменять форму массива

In [ ]:
# На вход подается одномерный массив, преобразуйте его в матрицу с 5 строками и 6 столбцами
import numpy as np
n_1 = np.arange(1,31)
def solution(arr):
    arr = arr.reshape((5,6))
    return arr
solution(n_1)

In [ ]:
# На вход подается одномерный массив, 
# преобразуйте его в трехмерный массив, где каждая матрица будет размером 4х5 и таких матриц должно быть 10
import numpy as np
n_2 = np.arange(200)
def solution(arr):
    arr = arr.reshape((10,4,5))
    return arr
solution(n_2)

In [ ]:
# Вытяните из массива последние три строки, но так чтобы строки были расположены в обратном порядке
import numpy as np
n_3 = np.arange(25)
n_3 = n_3.reshape((5,5))
def solution(arr):
    arr = arr[[-1,-2,-3], :]
    return arr
solution(n_3)

In [ ]:
# Вытяните из нее последние три строки, но так чтобы строки были расположены в обратном порядке. Затем возьмите только последние два столбца
import numpy as np
n_4 = np.arange(25)
n_4 = n_4.reshape((5,5))
print(n_4)
def solution(arr):
    arr = arr[[-1,-2,-3], -2:]
    return arr
solution(n_4)

In [ ]:
# На вход подается двумерная матрица размером 5х5. Преобразуйте ее в одномерный массив.
import numpy as np
n_5 = np.arange(25)
n_5 = n_5.reshape((5,5))
print(n_5)
def solution(arr):
    arr = arr.reshape(25)
    # arr = arr.reshape(-1)
    return arr
solution(n_5)

In [ ]:
# На вход подается трехмерная матрица размером 6х5х5. Преобразуйте ее в одномерный массив.
n_6 = np.arange(150)
n_6 = n_6.reshape((6,5,5))
print(n_6)
def solution(arr):
    arr = arr.reshape(-1)
    # arr = arr.reshape(150)
    return arr
solution(n_6)

## 2.9 Основы Numpy. Еще о reshape, транспонирование, унарные и бинарные функции

In [ ]:
# ВАЖНО! Сама функция reshape() не создаёт новый массив!
# Массив через эту функцию привязывается к оригинальному массиву
# Не создаёт новый контейнер!

In [ ]:
# Сразу использовать reshape при создании
import numpy as np
n12 = np.arange(21).reshape((-1,7))

In [ ]:
# ТРАНСПОНИРОВАНИЕ. Поменять местами вывод данных
# Привязывается к оригиналу и меняет его
import numpy as np
n1 = np.arange(21).reshape((3,7))
print(n1)
# Запускаем процесс транспонирования:
n2 = n1.T
#n2 = n1.transpose()  # тот же самый эффект
print(n2)
n2[0] = 0
print(n1)

In [ ]:
# Извлечь квадратный корень из каждого элемента
import numpy as np
n1 = np.arange(10)
np.sqrt(n1)

In [ ]:
# Отказ от сипользования отрицательных чисел - перевод их в положительные
import numpy as np
n1 = np.array([-2, 4, 5, -10, 5])
np.abs(n1)

In [ ]:
# Округлить к ближайшему чётному числу
m1 = np.array([2.5, 3.5, 4.5, 5.5])
np.round(m1)

In [ ]:
# Округлить до ближайшего верхнего инта / целого числа
m1 = np.array([2.1, 3.2, 4.5, 5.0])
np.ceil(m1)

In [ ]:
# Округлить до ближайшего нижнего числа
m1 = np.array([2.1, 3.2, 4.6, 5.7])
np.floor(m1)

In [ ]:
# Создать рандомный массив
m1 = np.random.random((4,4))
m1

In [ ]:
# Сумма всех элементов массива
m1 = np.array([2.5, 3.5, 4.5, 5.5])
m1.sum()

In [ ]:
# Возвращает общее количество элементов в массиве.
m1 = np.random.random((4,4))
m1.size

In [ ]:
# Max / Min
m1 = np.random.random((4,4))
m1.min()
#m1.max()

In [ ]:
# Создать рандомный массив
n = np.empty((2,3,3))
n

In [ ]:
# Округлить ''по-русски'' / до и после 0,5
m1 = np.array([2.1, 3.2, 4.6, 5.7, 10.9, 1.6, 0.9, 1.4])
np.rint(m1)

In [ ]:
# nan. отсутствие значения
# Аналог None в Питоне.
m1 = np.array([2.1, 3.2, 4.6, 5.7, np.nan])
print(m1)
# Проверить наличие nan
print(np.isnan(m1))  # вернёт массив
# Вычислить количество nan в масиве:
np.isnan(m1).sum()

In [ ]:
# Агрумент OUT принимает переменную, которая получилась после действия.
# out работает только если переменная, в которую он выводит, ранее определена.
import numpy as np
z1 = np.array([-2, 4, 5, -10, 5])
np.abs(z1, out=z1)  # после запятой = переменная, в которую сохранить результат
#np.abs(z1, out=z2)  # выдаст ошибку, так как z2 ранее не определена
z1

In [ ]:
# Унарная и банарная функции
# Унараная - функция, которая принмает в работут только 1 массив: np.abs(n1)
# Бинарная - функция, которая принмает в работут 2 массива: np.abs(n1, n2)
import numpy as np
m1 = np.array([1,2,3,4])
m2 = np.array([4,4,2,3])
# Необходимо сравнить и получить какой-либо результат
np.maximum(m1, m2)  # Бинарная. Найти максимальное из двух значений и записать его в массив новый.
np.minimum(m1, m2)  # Бинарная. Найти минимальное из двух значений и записать его в массив новый.

In [ ]:
# Бинарные, продолжение
import numpy as np
m1 = np.array([1,2,3,4])
m2 = np.array([4,4,2,3])
np.add(m1, m2)  # складываются элементы между собой

In [ ]:
# Бинарные, продолжение
import numpy as np
m1 = np.array([1,2,3,4])
m2 = np.array([4,4,2,3])
np.subtract(m1, m2)  # из m1 вычитаем m2

In [ ]:
# Бинарные, продолжение
import numpy as np
m1 = np.array([1,2,3,4])
m2 = np.array([0,4,2,3])
print(np.multiply(m1, m2))  # перемножить друг на друга
print(np.divide(m1, m2))    # разделить m1 на m2

## 2.10 Основы Numpy. Практика: закрепляем знания про унарные и бинарные функции

In [ ]:
# На вход подаётся матрица. 
# Выполните ее транспонирование, а затем выполните возведение в квадрат каждого значения.
import numpy as np
n1 = np.arange(10).reshape((2,5))
def solution(arr):
    arr = arr.T**2
    return arr
solution(n1)

In [ ]:
# Вытащить первую и последнюю строку масива
# Создать новый массив из наименьших значений
import numpy as np
n1 = np.arange(25).reshape((5,5))
print(n1)
def solution(arr):
    arr = np.minimum(arr[0], arr[-1])
    return arr
solution(n1)

In [ ]:
# На вход вашей функции подаётся два контейнера.
# Проверьте, равны ли размерности.
# Функция должна вернуть True, если размерности равны и False если нет.
# Попробуйте оттолкнуться от свойства shape. Посмотрите какие длины у кортежей и что за значения внутри них.
import numpy as np
n1 = np.arange(25).reshape((5,5))
n2 = np.arange(10).reshape((2,5))
n3 = np.arange(10).reshape((2,5))
def solution(a1, a2):
    result = a1.shape == a2.shape
    return result
solution(n3, n2)

In [ ]:
# Повторение - функция, которая создаёт массив и заполняет его значением
import numpy as np
n33 = np.full((2,2,2), "Hello!")
n33

## 2.11 Основы Numpy. Логические функции и функция в функции, а еще where и статистика

In [ ]:
# Функция "больше" - greater
# Получим маску на выходе
import numpy as np
m1 = np.arange(2,10)
m2 = np.arange(4,12)
m3 = np.greater(m2, m1)
m2[m3]
# Функция "больше либо равно" - greater_equal
m3 = np.greater_equal(m2, m1)

In [ ]:
# Функция "меньше" и "меньше либо равно"
m3 = np.less(m2, m1)
m3 = np.less_equal(m2, m1)

In [ ]:
# Функция "равно"
m3 = np.equal(m2, m1)
m3

In [ ]:
# Вложенные функции
# Вложим бинурную функцию в унарную:
import numpy as np
m1 = np.arange(0,8)
m2 = np.arange(-5,3)
m3 = np.abs(np.minimum(m1, m2))  # находим минимальные элементы и затем берём их по модулю
print(m3)
m4 = np.sqrt(m1**4 + m2**2)      # выполним все действия внутри скобки и потом возъмём корень
print(m4)

In [ ]:
# Функция WHERE
# np.where(условие, втавить в массив/условие выполнено, втавить в массив/условие не выполнено)
# Обработать массив
# там, где значения больше 0 - указать "100", меньше: "-100"
import numpy as np
m33 = np.array([0, 1, 3, -5, 10, -6, -1, 9])
mask1 = m33>0  # маска для положительных элементов
mask2 = m33<0  # маска для отрицательнрых элементов
#print(mask1, mask2, sep='\n')
m33[mask1] = 100   # для элементов True с маски 1 задаём значения "100"
m33[mask2] = -100  # для элементов True с маски 2 задаём значения "-100"
print(m33)  # ответ готов - матрица откорректирована
# Второй техничный вариант
m33_where = np.where(m33>0, 100, -100)  # условие, вып, не вып
print(m33_where)

In [ ]:
# Отавить 0 на месте при использовании WHERE
import numpy as np
m33 = np.array([0, 1, 3, -5, 10, -6, -1, 9])
m33_where_0 = np.where(m33 > 0, 100, np.where(m33 != 0, -100, 0))
print(m33_where_0)

In [ ]:
# Функция WHERE - дополнительные возможности
# Оставить некоторые элементы массива, как есть
# Меньше нуля - занулим, больше нуля - не трогаем
import numpy as np
m33 = np.array([0, 1, 3, -5, 10, -6, -1, 9])
m33_ = np.where(m33<0, 0, m33)
print(m33_)
# все положительные значения возвести в квадрат
m33_0 = np.where(m33>0, m33**2, m33)
print(m33_0)
# пример сложного условия:
m33_1 = np.where((m33==0) | (m33==10), -100, m33)
print(m33_1)

In [ ]:
# Where для двумерного массива / трёхмерного
import numpy as np
m35 = np.arange(20).reshape((4,5))
print(m35)
# значения больше 10 занулить
m35_ = np.where(m35>10, 0, m35)
print(m35_)

In [ ]:
# Наборы математических и статичтических функций
# сумма элементов. можно вызывать сразу с массивом
np.sum(m35_)
m35_.sum()
# среднее значение. можно вызывать сразу с массивом
np.mean(m35_)
m35_.mean()

In [ ]:
# функции, указанные выше с двумерными массивами
import numpy as np
m35 = np.arange(20).reshape((4,5))
print(m35, m35.sum(), m35.mean(), sep='\n')
# m35.sum() просто суммирует все элементы
# m35.mean() просто высчитывает среднее значение по всему массиву целиком
# Найти сумму подмассивов по отдельности:
print(m35[-1].sum(), m35[2].mean(), sep='\n')
# самостоятельно указать диапазон:
m35_axis_stroka = m35.sum(axis=1)  # ПОСТРОЧНО!
# Посчитает построчно и из значений создаст новый массив:
print('m35_axis_stroka =', m35_axis_stroka)
# Посчитаем по столбцам:
m35_axis_stolb = m35.sum(axis=0)  # ПОСТОЛБЧАТО!
print('m35_axis_stolb = ', m35_axis_stolb)

In [ ]:
# Функция минимального/максимального значения:
m35.min()
m35.max()

In [ ]:
# Минимальное значение по строке / столбцу
import numpy as np
m39 = np.arange(20).reshape((4,5))
m40 = m39.min(axis=0)  # минимум по столбцам
m41 = m39.max(axis=1)  # максимум по строкам
print(m39, m40, m41, sep='\n')

In [ ]:
# Индекс минимально/максимального аргумента
# argmin / argmax
# Возвращает индекс минимального / максимального элемента
import numpy as np
m50 = np.arange(20).reshape((4,5))
print(m50, m50.argmax(), m50.argmin())
print(m50.argmin(axis=1), m50.argmax(axis=0))  # построчно / постолбчато

In [ ]:
# Действия с булевыми элементами
import numpy as np
arr_bool = np.array([True, False, True])
# True = 1
# False = 0
print(arr_bool.sum())
print(arr_bool.max())

In [ ]:
# Сравните их поэлементно: постройте новый массив из минимальных значений.
# У нового одномерного массива найдите максимальное значение
import numpy as np
def solution(m1, m2):
    result = np.minimum(m1, m2).max()
    return result

In [ ]:
# Сравните их поэлементно.
# Постройте новый массив из максимальных значений.
import numpy as np
def solution(m1, m2):
    return np.where(m1>m2, m1, m2).min()

In [ ]:
# Найдите среднее значение.
import numpy as np
def solution(m1):
    return np.mean(m1)

## 2.12 Основы Numpy. Практика: доводим до мастерства работу с полезными функциями

In [ ]:
# Посчитайте минимальные значения по каждому столбцу
import numpy as np
def solution(m2d):
    result = m2d.min(axis=0)
    return result

In [ ]:
# Посчитайте максимальные значения по каждой строке
import numpy as np
def solution(m2d):
    result = m2d.max(axis=1)
    return result

In [ ]:
# Посчитайте для каждого склада, сколько процентов картофеля от общего количества хранится на каждом складе.
# Общее количество картофеля на всех складах (определите сами через функцию).
import numpy as np
x1 = np.array([22, 33, 44, 10])
def solution(m1d):
    result = m1d / m1d.sum() * 100
    return result
solution(x1)

In [ ]:
# Если значение меньше или равно нулю, то замените его на нуль.
# Если значение больше нуля, то замените на 1.
import numpy as np
x2 = np.array([0, -1, 2, -50])
def solution(m1d):
    result = 
    return result
solution(x2)

In [ ]:
# Если значение меньше или равно нулю, то замените его на нуль.
# Если значение больше нуля, то замените на 1.
import numpy as np
x3 = np.array([0, -1, 2, -50])
def solution(m1d):
    result = np.where(m1d<=0, 0, 1)
    return result
solution(x3)

In [ ]:
# Если значение меньше или равно нулю, то замените его на нуль.
# Остальное не трогать.
import numpy as np
x4 = np.array([0, -1, 2, -50])
def solution(m1d):
    result = np.where(m1d<=0, 0, m1d)
    return result
solution(x4)

In [ ]:
# Если значение меньше нуля, то возьмите его по модулю
# Если значение больше нуля, то извлеките из него квадратный корень.
import numpy as np
x5 = np.array([0, -1, 2, -50, 10, 16, -2, 0])
def solution(m1d):
    result = np.where(m1d<0, np.abs(m1d), np.sqrt(m1d))
    return result
solution(x5)

In [ ]:
# Для каждого столбца определите индекс строки в которой содержится минимальное значение.
import numpy as np
x6 = np.array([[0, -1, 2, 16, -2, 0],
              [3, 70, -3, 0, 10, -55]])
def solution(m2d):
    result = m2d.argmin(axis=0)
    return result
solution(x6)

array([0, 0, 1, 1, 0, 1])

In [ ]:
# Для каждой строки определите индекс столбца в котором содержится максимальное значение.
import numpy as np
x7 = np.array([[0, -1, 2, 16, -2, 0],
              [3, 70, -3, 0, 10, -55]])
def solution(m2d):
    result = m2d.argmax(axis=1)
    return result
solution(x7)

## 2.13 Основы Numpy. Функции any, all, sort, unique, in1d. Обзор линейной алгебры

In [ ]:
# Функция any
# Будет искать в булевом массиве хотябы одно значение True
# Если есть хоть одно хначение True - выведет True
# ~np.any() противоположное значение - будет искать False
import numpy as np
arr_bool_1 = np.array([True, False, True])
arr_bool_2 = np.array([False, False, False])
print(arr_bool_1.any(), arr_bool_2.any(), sep='\n')
# Пример: имеется ли хоть одна покупка более 1000руб
m12 = np.array([300, 500, 1000, 1500, 3000])
mask = m12>1000    # значения более 1000
print(mask.any())  # есть ли хоть одно значение, которое мы ищем - более 1000 руб.
print(mask.sum())  # сколько покупок более 1000руб.

In [ ]:
# Проверить все ли элементы в массиве равны TRUE
import numpy as np
arr_bool_1 = np.array([True, False, True])
arr_bool_2 = np.array([True, True, True])
print(arr_bool_1.sum() == len(arr_bool_1))  # проверка для массива 1. True - все элементы True
print(arr_bool_2.sum() == len(arr_bool_2))  # проверка для массива 2. True - все элементы True
# Нормальный вариант
# Функция ALL
# ~np.all проврит, что все значения FALSE
print(arr_bool_1.all())  # проверка для массива 1. True - все элементы True
print(arr_bool_2.all())  # проверка для массива 3. True - все элементы True

In [ ]:
# Метод SORT
# Сортировка элемента от меньшего к большему
import numpy as np
x5 = np.array([0, -1, 2, -50, 10, 16, -2, 0])
x5.sort()  # функция ничего не вернёт, только выполнит действие нам массивом!
x5         # на данном выводе массив уже будет отсортирован

In [ ]:
# Сортировка двумерных массивов
# По умолчанию сортировка по строкам
import numpy as np
x6 = np.array([[-2, 4, 0, -10], [0, 10, -3, 5]])
x6.sort()  # ВАЖНО! По умолчянию сортировка по строкам - axis=1
print(x6)
# сортировка по столбам
x7 = np.array([[-2, 4, 0, -10], [0, 10, -3, 5]])
x7.sort(axis=0)
print(x7)

In [ ]:
# Дубликаты / Функция unique
# Всегда необходимо проверять на дубликаты!
import numpy as np
names = np.array(['Ivan', 'Adnrey', 'Roman', 'Adnrey', 'Serg', 'Ivan'])
# Задача - вывести уникальные элементы
np.unique(names)  # выведет только уникальные элементы
u_names = np.unique(names)
print(u_names)
# Проверить на наличие дубликтов:
print(len(names)==len(u_names))

In [ ]:
# Проверить наличие каки-то нужных нам элементов
# Колхозный способ:
import numpy as np
names = np.array(['Ivan', 'Adnrey', 'Roman', 'Adnrey', 'Serg', 'Ivan'])
#(names=='Ivan') | (names=='Roman')
# Нормальный способ:
np.in1d(names, ['Ivan', 'Roman'])  # Указываем массив в котором проверяем и список, наличие которого проверяем

In [ ]:
# Линейная алгебра
import numpy as np
arr = np.array([[1,2,0], [0, -2, 10], [-5, 6, 20]])
print(arr)
arr_T = arr.T  # транспанируем матрицу
print(arr_T)
arr_M = np.dot(arr, arr_T)  # умножаем одну матрицу на вторую
print(arr_M)

In [ ]:
# Получить элементы с главной / побочной диагоналей
# Получить верхний треугольник
import numpy as np
arr = np.array([[1,2,0], [0, -2, 10], [-5, 6, 20]])
print(arr)
print(np.diag(arr))  # значения с главной диагонали
print(np.triu(arr), np.tril(arr), sep='\n')  # верхний / нижний треугольники получить
print(np.trace(arr))  # значение суммы элементов на главной диагонали
print(np.diag(arr, k=1))  # значения с главной диагонали со смещением 'k' = 1

In [ ]:
# Создавать массивы/матрицы рандомно
# При помощи генератора np.random
import numpy as np
# случайный массив из интов
arr1 = np.random.randint(-10, 10, size=10)     # в скобках - 1-min, 10-max, size-кол-во эл-тов
# ВАЖНО! 10 не включительно!
arr2 = np.random.randint(-10, 10, size=(2,5))  # внутри кортежа size задаём двумерную матрицу
arr2

In [ ]:
# На вход подаётся одномерный массив типа np.bool.
# Функция должна вернуть True если все значения в массиве равны False.
# Иначе функция должна вернуть False.
import numpy as np
n1 = np.array([True, False])
def solution(m1d):
    return np.sum(m1d)==0
print(solution(n1))
# Второе решение!
def solution(m1d):
    return ~np.any(m1d)
solution(n1)

In [ ]:
import numpy as np
n1 = np.array([False, False])
~np.all(n1)  # Все элементы False - тогда выведет True

In [ ]:
import numpy as np
n1 = np.array([False, False])
~np.any(n1)  # Хоть один элемент False - тогда выведет True

In [ ]:
# Посчитать количество уникальных элементов в массиве
import numpy as np
def solution(m1d):
    result = len(np.unique(m1d))
    return result

## 2.14 Основы Numpy. Функции permutation и shuffle. Сохранение массива в файл

In [ ]:
# PERMUTATION
# Генерировать рандом так чтобы каждый элемент был не более 1 раза
import numpy as np
n = np.arange(10)
# Нужно что-то сделать чтобы перемешались числа
print(np.random.permutation(10)) # range в перемешку
print(np.random.permutation(n))  # перемешиваем массив готовый

In [ ]:
# SHUFFLE
# Поменяет расстановку элементов в готов массиве
import numpy as np
n2 = np.arange(10, 20)
np.random.shuffle(n2)
n2

In [ ]:
# RANDN
# Генерация флотов
import numpy as np
n3 = np.random.randn(10)
print(n3)
print('*'*20)
# если хотим, чтобы в элементах были значения близкие к 1 или 2:
n4 = np.random.randn(10) + 2
print(n4)
print('*'*20)
# создадим двумерную матрицу флотов
n5 = np.random.randn(2,5)
print(n5)

In [ ]:
# Сохранение массива
# по умолчанию сохраняет с расширением .npy !
import numpy as np
n_save = np.random.randint(-10, 10, size=(2,5))
n_save
np.save('My array test', n_save)  # можно ещё указать расширение
np.load('My array test.npy')  # выдаст ошибку, не указали тип файла

In [ ]:
# Сохранить 2 массива в один файл
# по умолчанию сохраняет с расширением .npz !
# Сохраняет по типу словаря
import numpy as np
n_save = np.random.randint(-10, 10, size=(2,5))
n_save1 = np.random.randint(20, 100, size=(3,20))
np.savez('Arrays', name1=n_save, name2=n_save1)  # name1/2 - подключи, в которые будут записаны массивы
n_t = np.load('Arrays.npz')
n_t  # выдаст - <numpy.lib.npyio.NpzFile at 0x7f7cd8123650>
n_t['name2']  # указать имя ключа в ковычках!
#print(n_t.files)  # покажет ключи в данном файле

# 3.Введение в Pandas

## 3.1 Введение в Pandas. Первое знакомство с Series

In [ ]:
# Проверим утановлен Пандос или нет
# Numpy больше заточен под числа Num - номер/число
import pandas
# !pip install pandas  # установить, если нет его
!pip show pandas  # проыверка версии
# проверить версию по-другому: pandas.__version__

In [ ]:
# Разработчики Pandas создали свой контейнер - Series
# Взял лучшее от Numpy
# Series (серия или по простому ряд значений) - контейнер в библиотеке Pandas
# Cоздан для хранения одномерного массива данных. В нее нельзя погрузить матрицу или трехмерный массив.
# Серия может унести только ОДНОМЕРНЫЙ массив.
# Cерия это фундамент будущей Pandas таблицы

In [ ]:
# Серия состоит из двух очень важных компонентов:
# хранилище наших значений (именно эти значения мы видим в столбце/строке)
# хранилище индексов.
# Очень похоже на словарь!
# Серия - это 1 столбец с элементами

In [ ]:
# Создадим первую серию
import pandas as pd
s1 = pd.Series([4, 3, -7, 5])
print(s1)
print(s1.values)  # выведем только значения из серии - массив numpy
print(s1.index)   # выведем только индексы из серии
print(s1[2])      # обратимся к третьему элементу
print(s1[[0,2]])  # обратимся сразу к нескольким элементам

In [ ]:
# Создать серию с индексами своими:
import pandas as pd
s2 = pd.Series([4, 3, -7, 5], index=['a', 'b', 'c', 'd'])
print(s2)
print(s2.index)
# Обратимся к элементу
print(s2['c'])        # через присовенный индекс
print(s2[2])          # через индекс по умолчанию
print(s2[['c','a']])  # обратимся сразу к нескольким элементам

In [ ]:
# Назначить новый элемент
import pandas as pd
s3 = pd.Series([4, 3, -7, 5], index=['a', 'b', 'c', 'd'])
s3['b'] = 100
s3

In [ ]:
# Создайте серию, которая будет содержать элементы 1, 2, 3, 4, 5. Функция должна вернуть серию.
import pandas as pd
def solution():
    result = pd.Series([1,2,3,4,5])
    return result
solution()
# result = pd.Series(range(1, 6))

In [ ]:
# Доработайте функцию так чтобы она возвращала индексы серии
import pandas as pd
def solution(s1):
    result = s1.index
    return result

In [ ]:
# Создайте серию, которая будет содержать элементы 1, 2, 3, 4, 5 и индексы a, b, c, d, e.
# Функция должна вернуть серию.
import pandas as pd
def solution():
    result = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])
    return result
solution()

In [ ]:
# Вытяните из нее элементы с индексами a и с. Функция должна вернуть серию.
import pandas as pd
def solution(s1):
    result = s1[['a', 'c']]  # 2 скобки!
    return result

In [ ]:
# Замените элемент по индексу c на 0
# Функция должна вернуть серию с измененным элементом по индексу с.
import pandas as pd
def solution(s1):
    s1['c'] = 0
    return s1

In [ ]:
# Доработайте функцию так чтобы она возвращала numpy массив, который содержит значения серии
import pandas as pd
def solution(s1):
    result = s1.values
    return result

## 3.2 Введение в Pandas. Поподробнее про серии: идексы, сложение, проверка на NaN

In [ ]:
# При фильтрации серии индексы остаются, а не пересоздаются.
# Арифметические операции не распространяются на индексы
# У серии индексы не уникальные! Они могут повторяться.

In [ ]:
# Фильтрация
import pandas as pd
s2 = pd.Series([1,2,3,4,5])
s2[s2>2]

In [ ]:
# Проверим наличие индекса в серии
import pandas as pd
s4 = pd.Series([4, 3, -7, 5], index=['a', 'b', 'c', 'd'])
'c' in s4

In [ ]:
# Серии можно сложить между собой / словари нельзя!

In [ ]:
# Создание серии на основе списка
sp = [1,2,3,4,5]
import pandas as pd
s1 = pd.Series(sp)
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# Создание серии на основе словаря
d2 = {'Moscow':900, 'Tula':500, 'Omsk':100}
import pandas as pd
s2 = pd.Series(d2)
print(s2)
print(s2 + s2)    # сумма
print(s2[1])      # второй элемент
print(s2.index)   # индексы
print(s2.values)  # значения
print(s2['Tula'])
print('Omsk' in s2)

In [ ]:
# Вы можете задавать индексы на этапе создания серии
# Не обязательно чтобы индексы шли по порядку
#  Если вы создаёте серию на основе словаря и указали индекс, которого не существует в словаре, то pandas добавит в серию такой индекс, но значение будет равно NaN (пропуск)
# Если вы создаете серию на основе словаря и не передали все индексы, то никакой ошибки не будет. Пандас добавит в серию только те значения, которые вы указали в индексе

In [ ]:
# Самостоятельно задать порядок элементов
d2 = {'Moscow':900, 'Tula':500, 'Omsk':100}
import pandas as pd
s2 = pd.Series(d2, index=['Tula', 'Omsk', 'Moscow'])  # Самостоятельно задать порядок индексов
s2

In [ ]:
# Передадим индекс, которого нет в оригинальном словаре
d3 = {'Moscow':900, 'Tula':500, 'Omsk':100}
import pandas as pd
s3 = pd.Series(d3, index=['Tula', 'Omsk', 'Moscow_new'])
s3  # создаст новый индекс со значением NaN

In [ ]:
# s1.isnull().any() 
# вернет только одно значение, которое будет отвечать на главный вопрос: а есть ли в серии пропуски? 

# s1.notnull().all()
# ответит на вопрос: а все ли значения в серии заполнены?

In [ ]:
# Проверка серии на наличие пропущенных аргуметов
# isnull
# notnull
import pandas as pd
d4 = {'Moscow':900, 'Tula':500, 'Omsk':100}
s4 = pd.Series(d4, index=['Moscow', 'Omsk', 'Tula'])
s5 = pd.Series(d4, index=['Moscow', 'Omsk', 'Tula', 'Kaluga'])  # доп. индекс без аргумента
print(pd.isnull(s4))  # проверяем наличие пропусков в аргументах
print(pd.isnull(s5))  # проверяем наличие пропусков в аргументах
print("*"*70)
print(pd.isnull(s5).values)  # вытащим сразу булевые значения после проверки
print(pd.isnull(s5).index)   # вытащим сразу индексы в список / матрицу
print("*"*70)
print(pd.notnull(s4))  # обратная функция к isnull
print("*"*70)
print(s4.isnull().any())  # есть ли хоть один пропуск?
print(s5.isnull().any())  # есть ли хоть один пропуск?
print("*"*70)
print(s4.notnull().all())  # все ли значения в серии заполнены?
print(s5.notnull().all())  # все ли значения в серии заполнены?

In [ ]:
# Важно запомнить, что при сложении серий:
# не обязательно чтобы они были одинаковой длины
# сложение будет происходить по индексам
# если в одной из серий есть индекс, которого нет в другой серии, то индекс добавляется в результирующую серию, но значение присваивается NaN
import pandas as pd
d6 = {'Moscow':900, 'Tula':500, 'Omsk':100}
s6 = pd.Series(d4, index=['Moscow', 'Omsk', 'Tula'])
s7 = pd.Series(d4, index=['Tula', 'Moscow', 'Kaluga'])
# ВНИМАНИЕ! Порядок разный! И не все индексы есть
s8 = s6 + s7
print(s8)
# Если в какой-то из серий нет значений по индексу - добавит NaN

In [ ]:
# Поменять индексы в уже готовой серии
import pandas as pd
s33 = pd.Series([-1,2,3,-5])
# Есть готовая серия. Необходимо поменять индексы.
print(s33.index)
s33.index = ['a', 'D', 'F', 'b']  # задаём новые индексы. Кол-во должно быть равно кол-ву старому
print(s33)
# Очень интересный момент. Сложим 2 серии с разными индексами
s34 = pd.Series([-1,2,3,-5])  # индексы тут 0...3
s33 + s34

In [ ]:
# Объединить несколько серий (колонок) в один массив
import pandas as pd
s1 = pd.Series([-1,2,3,])
s2 = pd.Series(['Omsk', 'Tomsk', 'Nova'])
s3 = pd.Series(['Table1', 'Table2', 'Table3'])
# Можно сделать это через словарь:
d = {'col1': s1, 'col2':s2, 'col3':s3}
print(d)
# Дальше разберёмся!

In [ ]:
# NAME
# По умолчанию имя у серии отсутствует
import pandas as pd
s1 = pd.Series([-1,2,3,])
s1.name = 'numbers'       # зададим имя серии
s1.index.name = 'PROBA'   # зададим имя индексам
s1

In [ ]:
import pandas as pd
def solution(ser1):
    result = ser1*3
    return result[result>20]
# result = (ser1 * 3)[ser1 * 3 > 20]

## 3.4 Введение в Pandas. Практика: тонкости при работе с сериями

In [ ]:
# На вход функции подаётся словарь
# Постройте из него серию и умножьте каждое значение серии на 2
# Функция должна вернуть серию. 
import pandas as pd
def solution(d):
    result = pd.Series(d) * 2
    return result

In [ ]:
# На вход функции подаётся словарь.
# Постройте из него серию так чтобы индексы были расположены в порядке: e, a, c, b, d
import pandas as pd

def solution(d):
    result = pd.Series(d, index=['e', 'a', 'c', 'b', 'd'])  # НЕ ЗАБЫВАЙ СКОБКИ идексам!
    return result
# pd.Series(d, index=list('eacbd'))

In [ ]:
# На вход функции подаётся словарь
# Постройте из него серию и добавьте еще один индекс g.
# Индексу g присвойте значение 10.
# Функция должна вернуть серию.
import pandas as pd
def solution(d):
    result = pd.Series(d)
    result['g'] = 10
    return result

In [ ]:
# Проверьте, все ли значения серии заполнены?
# Верните одно значение False - если не все
# True - если все заполнены
import pandas as pd
s1 = pd.Series([1, 2, 3])
def solution(s1):
    result = s1.notnull().all()
    return result

In [ ]:
# Индексы задать задом наперёд
import pandas as pd
s1 = pd.Series([1, 2, 3])
s1.index=[2,1,0]
s1
# s1.index = s1.index[::-1]
# result = pd.Series(list(s1), index=(2,1,0))

## 3.5 Введение в Pandas. Первое знакомство с DataFrame

In [ ]:
# Для хранения серий разработчики Pandas не стали брать словарь, а решили создать свой контейнер - DataFrame (датафрейм)
# Чтобы датафрейм легко ориентировался в сериях, их наделили свойством name. 
# Data - от англ. данные
# Frame - от англ. каркас/рамка

In [ ]:
# Погрузим колонку/серию в датафрэйм
import pandas as pd
s1 = pd.Series(['Ivan', 'Igor', 'Vova'])
s1.name = 'user_names'  # если не здать имя - будет заголовок 0 в датафрэйме
df = pd.DataFrame()  # создаём в таком виде контейнер пустой
print(df)  # пустой контейнер
print('*'*50)
df = pd.DataFrame(s1)
print(df)  # контейнер с одной колонкой
print('*'*50)
print(df['user_names'])  # обращаемся к колонке в датафрэйме по имени
print('*'*50)
s2 = df['user_names']  # просто для примера возъмём одну колонку из датафрэйма и загоним в серию новую
print(s2)
print('*'*50)

In [ ]:
# У серии индексы не уникальные! Они могут повторяться.
import pandas as pd
s1 = pd.Series([1,2,3], index=['a', 'b', 'c'])
s2 = pd.Series([1,2,3], index=['a', 'a', 'a'])
s1+s2

In [ ]:
# Датафреймы очень хорошо создаются на основе словаря, который состоит из ключей и значений в качестве вложенных списков.
# Ключи словаря в датафрейме станут названиями столбцов, а вложенные списки - колонками.

In [ ]:
# Загоним словарь в датафрэйм
data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022, 2021, 2020, 2022, 2021, 2020],
        'visits': [500, 2000, 1500, 100, 230, 200]}
import pandas as pd
df = pd.DataFrame(data)
#df
# Посмотрим голову датафрэйма (начало его)
df.head()  # по умолчанию приводит первые ПЯТЬ строчек
# df.head(3)  #посмотреть превые 3 трочки

In [ ]:
# Поменять колонки местами в датафрэйме
df2 = pd.DataFrame(data, columns=['visits', 'city', 'year', '1'])  # добавил одну колонку без аргументов
df2.head(2)

In [ ]:
# При создании датафрейма вы можете задать свои собственные индексы (как и с серией)
df3 = pd.DataFrame(data, index=[10,29,990,9,100,4])
# df3
# Так же можно сразу задать и индексы и названия колонок:
df4 = pd.DataFrame(data, index=[10,29,990,9,100,4], columns=['visits', 'city', 'year'])
df4

In [ ]:
# Доступ к целой колонке мы можем получить указав название колонки в квадратных скобках: 
# df['название колонки']
# Этот способ разрешает вытягивать колонки с пробелами и спец. символами

# Менее гибкий способ это обращение к колонки через атрибут(свойство) датафрейма
# df.column_1 / df.user_name / df.visits

In [ ]:
import pandas as pd
data1 = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022, 2021, 2020, 2022, 2021, 2020],
        'visits': [500, 2000, 1500, 100, 230, 200]}
df1 = pd.DataFrame(data1)
print(df1)
print('*'*50)
print(df1['year'])  # обращаемся к одной из колонке / серии. БОЛЕЕ НАДЁЖНЫЙ СПОСОБ!
print('*'*50)
print(df1.year)  # второй способ обращения. НЕ ВСЕГДА работает!

In [ ]:
# Вытягивание нужных нам СТРОЧЕК
# Основной способ это через свойство loc
# В квадратных скобках передайте индекс строки, которую надо вытянуть.
print(df1.loc[2])  # вытащим одну строку с индексом 2. это серия
print('*'*50)
print(df1.loc[[2,5,0]])  # вытащим три строки с индексами 2,5,0

In [ ]:
# Создать новую колонку в датафрэйме
# В квадратных скобках указываем название новой колонки и передаем либо одно значение либо массив.
import pandas as pd
data1 = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022, 2021, 2020, 2022, 2021, 2020],
        'visits': [500, 2000, 1500, 100, 230, 200]}
df2 = pd.DataFrame(data1)
df2['visits'] = 0  # занулим колонку
df2['city'] = [1,2,3,4,5,6]    # заменим значения в колонке. кол-во должно совпадать с кол-вом строк!
df2['old'] = df2['year']*10-2  # добавляем новую колонку
df2['info'] = [1,2,3,4,5,6]    # добавим новую колонку через список
df2['seria'] = pd.Series(range(90,96)) # добавим новую колонку через серию
s1 = pd.Series(['new', 'old'], index=[1,4])  # создадим серию для добавления в датафрэйм
df2['additional'] = s1  # добавим серию в датафрэйм. индексы без аргументов будут NaN
df2

In [ ]:
# На основе словаря создайте датафрейм с индексами user1, user2, user3, user4
import pandas as pd
def solution():
    data = {'user' : ['Ivan', 'Petr', 'Nikolay', 'Andrey'], 
            'time_per_page' :  [10, 30 , 15, 5], 
             'pages' : [7, 9, 12, 3]}
    result = pd.DataFrame(data, index=['user1', 'user2', 'user3', 'user4'])
    return result
solution()
df = solution()
df

In [ ]:
# На вход функции подаётся датафрейм с прошлого степа.
# Добавьте в датафрейм новую колонку с названием total_time, и присвойте ей произведение значений из столбцов time_per_page и pages.
# Функция должна вернуть итоговый датафрейм.
import pandas as pd
def solution(df):
    df['total_time'] = df['time_per_page']*df['pages']
    return df
solution(df)

In [ ]:
# добавьте в датафрейм столбец balance, который будет хранить информацию о балансе из серии.
import pandas as pd
s1 = pd.Series([200, 150], index=['user3', 'user4'])
def solution(df, s1):
    df['balance'] = s1
    return df
solution(df, s1)

In [ ]:
# На вход функции подаётся датафрейм с прошлого степа
# Найдите индексы строк, где баланс не подтянулся. На выходе функция должна вернуть объект Index
import pandas as pd
def solution(df):
    maska = df['balance'].isnull()
    return df[maska].index
solution(df)

In [ ]:
# Создайте новую колонку c названием is_correct.
# Проверьте каждое значение из столбца total_time.
# Если значение меньше 100, то в колонку is_correct вставьте True, а иначе False.
# Функция должна вернуть датафрейм с внесёнными изменениями.
import pandas as pd
import numpy as np
def solution(df):
    s1 = pd.Series(np.where(df['total_time']<100, True, False), index=df.index)
    df['is_correct'] = s1
    return df
print(solution(df))
print(df.index)
# df['is_correct'] = df['total_time'] < 100
# df['is_correct'] = np.where(df['total_time'] < 100, True, False)
# df["is_correct"] = df.total_time < 100

## 3.6 Введение в Pandas. Поподробнее про DataFrame: индексы, вложенные словари, del и .T

In [ ]:
# Добавим серию в датафрэйм. Одного индекса при этом нет изначально в датафрэйме.
import pandas as pd
data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022,      2021,     2020,     2022,    2021,    2020],
        'visits': [1,      2,     3,     4,     5,     6]}
# Изменение порядка столбцов в ДатаФрейме
df = pd.DataFrame(data, columns=['city', 'year', 'visits'])
s1 = pd.Series([1, 10, 20, 30], index=[0, 3, 5, 6]) # Значения и их индексы
print(s1)
df['old_visits'] = s1 # Благодаря тому, что индексы указаны, значения будут добавлены только по ним
print(df)

In [ ]:
# Положить в колонку список через список range
import numpy as np
df['old_visits'] = np.arange(6)
df

In [ ]:
# Удалить колонку - оператор DEL
import numpy as np
df1 = df  # создам копию датафрэйма для работы
print(df1)
del df1['year']  # удалить колонку 'имя'
df1

In [ ]:
# Создать датафрэйм на основе вложенных словарей
#
import pandas as pd
data3= { 'Moscow': {2020: 1500, 2021: 2000, 2022:500},
        'Kazan':  {2020: 200, 2021: 230, 2022: 100}}
df3 = pd.DataFrame(data3)
df3

In [ ]:
# Транспонирование датафрэйма
df4 = df3.T
print(df3)
print('*'*50)
print(df4)
print('*'*50)
print(df4.index)
print(df4.values)
print(df4.loc['Moscow'])

In [ ]:
# Вытащим значения элементов из датафрэйма
# Получим двумерный массив
df3
print(df3.values)
print(df3.index)
print(len(df3.columns))  # кол-во колонок
print(len(df3.index))  # кол-во индексов

In [ ]:
# У датафрэйма на самом деле 2 индекса:
# Индекс, который нам привычен - index (axis=0)
# Индекс в виде названий колонок (columns). Это тоже индекс! (axis=1)

# У датафрейма два индекса, первый хранит индексы строк, а второй индексы колонок.
# Лейблы колонок - названия колонок.

In [ ]:
# Создадим список с индексами
import pandas as pd
lables = pd.Index(['a', 'b', 'c'])  # создать индексы специально
df9 = pd.DataFrame([1,2,3], index=lables)
df9

In [ ]:
# Удалите столбец clicks:
import pandas as pd
def solution(_df):
    del _df['clicks']
    return _df

In [ ]:
# Поменять один из индексов
# Поменять один индекс отдельно невозможно!
# Менять весь список индекса!
import pandas as pd
def solution(_df):
    _df.index = [0,'one',2]
    return _df

In [ ]:
# Перевести названия колонок в верхний регистр
import pandas as pd
data3= { 'Moscow': {2020: 1500, 2021: 2000, 2022:500},
        'Kazan':  {2020: 200, 2021: 230, 2022: 100}}
df = pd.DataFrame(data3)
print(df)
df.columns = df.columns.str.upper()
print(df)

def solution(_df):
    _df.columns = _df.columns.str.upper()
    return _df
# _df.columns = ['USER_NAME', 'CLICKS', 'TIME_INTERVAL']

In [ ]:
# Определите количество строк и количество столбцов в датафрейме.
# Функция должна вернуть кортеж: (количество строк, количество столбцов)
import pandas as pd
data3= { 'Moscow': {2020: 1500, 2021: 2000, 2022:500},
        'Kazan':  {2020: 200, 2021: 230, 2022: 100}}
df = pd.DataFrame(data3)
print(df)
print(df.shape)
df.values

## 3.8 Введение в Pandas. Функции reindex, drop и индексация в датафрейме

In [ ]:
# Названия колонок это тоже индекс!
import pandas as pd
data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022,      2021,     2020,     2022,    2021,    2020],
        'visits': [1,      2,     3,     4,     5,     6]}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f'])
df.columns
# Index(['city', 'year', 'visits'], dtype='object')

In [ ]:
# Проверим наличие како-либо столбца в датасете
'year' in df.columns

In [ ]:
# Чтобы поменять название какого-либо из индексов необходимо заводить новый список:
df.columns = ['dw', '23', '3f3']
df

In [ ]:
# Урезать какую-то колонку или строку
df.reindex(['dw', '23'], axis=1)
# удалит 1 колонку, которой нет в аргументах данной функции

In [ ]:
# Добавим новую колонку:
df.reindex(['dw', '23', 'add_columns'], axis=1)
# Добавит колонку со значениями NaN

In [ ]:
# Поработаем со строчками
df_new = df.reindex(['f', 'a', 'add'], axis=0)
df_new
# Аналогично работает

In [ ]:
# DROP()
# По умолчанию работает со строчками.
# Если необходимо работать со столбами - axis=1
# Если нужно просто удалить
df.drop('c')

In [ ]:
# Удалим 2 строчки
df.drop(['a', 'c'])  # список

In [ ]:
# Удалим столбец
df.drop('dw', axis=1)

In [ ]:
# Удалим несколько столбцов
df.drop(['dw', '23'], axis=1)

In [ ]:
# Выполнить действие сразу с массивом и сохранить
df.drop(['c', 'a'], axis=0, inplace=True)
df
# Лучше использовать переназначение аргумента: df = df+1

In [ ]:
#  df.drop() есть параметры columns=  (туда список со столбцами для удаления) 
# и index= (сюда список со строками для удаления).
import pandas as pd
data = { 'city': ['Moscow', 'Moscow', 'Moscow', 'Kazan', 'Kazan', 'Kazan'],
        'year':  [2022,      2021,     2020,     2022,    2021,    2020],
        'visits': [1,      2,     3,     4,     5,     6]}
df3 = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e', 'f'])
#df3
df4 = df3.drop(columns=['city'], index=['e', 'b']).copy()
df4

In [ ]:
# Вытянем значения из серии
import pandas as pd
s1 = pd.Series([10,20,30,44,23], index=['a', 'c', 'd', 'd2', 'dd33'])
s1
#s1['c']
#s1[1]    # простой индекс также работает

In [ ]:
# Вытянем 3 строки
# Обязательно во вложенном списке! или массиве
s1[['d2', 'd', 'dd33']]
#s1[[1, 0, 3]]  # вызов по индексу по умолчанию

In [ ]:
# Вытащим элементы через маску
mask1 = s1 >= 30  # создали маску
s1[mask1]
# s1[s1 >= 30]  # тот же самый эффект

In [ ]:
# Вытащим через маску булевых значений
s1[[True,False,False,False,True]]
# Выведет только значния, соответствующие True

In [ ]:
# Важно! Так тоже работает!
s1['a':'d']  # d ВКЛЮЧИТЕЛЬНО!
# Важно! Так тоже работает!

In [ ]:
import numpy as np
import pandas as pd
df5 = pd.DataFrame(np.arange(16).reshape((4, 4)), 
                  index=['Moscow', 'Vladivostok', 'Ufa', 'Kazan'], 
                  columns=['col_1', 'col_2', 'col_3', 'col_4'])
df5

In [ ]:
# Вытащим несколько колонок
df6 = df5[['col_3', 'col_1']].copy()
df6

In [ ]:
# df5[0]  # Так не работает
df5[:2]   # А так уже работает

In [ ]:
# Через маску булевую по строкам
df5[[True,False,False,True]]  # так работатет

In [ ]:
# Важный момент!
mask = df5['col_3'] > 9
df5[mask]
# Выводим через маску элементы, которые удовлетворяют требованиям. В данном случае: df5['col_3'] > 9

In [ ]:
# Можно задать любое требование внутри!
df5[df5['col_4']>10]

In [ ]:
# 2 фильтра сразу:
df5[(df5['col_4']>10)&(df5['col_2']>10)]

In [ ]:
# Занулить значения меньше 10
# Сам датафрэйм выступает в роли маски
# df5<10  # посмотрели зачения
df5[df5<10] = 0
df5[df5>=10] = 100
df5

In [ ]:
mask2 = df6 > 4
# Все значения по маске сделаем равным +100
df6[mask2] = 100
# Все значения противоположные маске сделаем равным -100
df6[~mask2] = -100
df6
# Использовали знак ~ ! Логическое отрицание

In [ ]:
# MEAN()
# Среднее по колонке:
df5['col_4'].mean()

9.0

In [ ]:
# Города по колонке 4 со значением выше среднего
df5[df5['col_4'] > df5['col_4'].mean()]

## 3.9 Введение в Pandas. Практика: вытягиваем нужное, удаляем ненужное

In [ ]:
# Проверьте, есть ли в нём строка с лейблом f
# Функция должна вернуть True если строка есть, иначе False
import pandas as pd
def solution(_df):
    return 'f' in _df.index

In [ ]:
# Проверьте, есть ли в нём колонка user_name и строка с лейблом f
# Функция должна вернуть True если колонка и строка существуют, иначе False
import pandas as pd
def solution(_df):
    return 'f' in _df.index and 'user_name' in _df.columns

In [ ]:
# Убрать user_ из названия всех колонок
import pandas as pd
data = [['Ivan', 25, 4, 50, 1], 
        ['Petr', 40, 9, 250, 8], 
        ['Nikolay', 19, 12, 25, 1], 
        ['Sergey', 33, 6, 115, 6],
        ['Andrey', 38, 2, 152, 4],
        ['Ilya', 20, 18, 15, 2],
        ['Igor', 19, 2, 10, 1]]
_df = pd.DataFrame(data, columns=['user_name', 'user_age', 'user_clicks', 'user_balance', 'user_history'], index=list('abcdefg'))
_df

In [ ]:
import pandas as pd
import numpy as np
def solution(_df):
    new_ind = []
    for i in _df.columns:
      new_ind.append(i[5:])
    _df.columns = new_ind
    return _df
solution(_df)
#_df.columns = _df.columns.str.replace('user_', '')
#_df.columns = [i[5:] for i in _df.columns]

In [ ]:
# Выполните реиндекс строк таким образом, чтобы остались только строчки с лейблами, которые перечислены в листе
import pandas as pd
def solution(_df):
    lst = ['a', 'f', 'g']
    return _df.reindex(lst, axis=0)
solution(_df)
#result = pd.DataFrame(_df, index=lst)
#result = df.loc[lst]

In [ ]:
# Удалите из датафрейма строчки c лейблами c, f, g и колонку c лейблом history.
import pandas as pd
def solution(_df):
    _df = _df.drop(['c', 'f', 'g'], axis=0)
    result = _df.drop(['history'], axis=1)
    return result
solution(_df)
#_df.drop(index=['c', 'f', 'g'], columns='history')
#_df.drop('history', axis=1).drop(['c','f','g'])

In [ ]:
# вытяните столбцы name, age, balance. Функция должна вернуть датафрейм:
import pandas as pd
def solution(_df):
    return _df[['name', 'age', 'balance']]
solution(_df)
#_df.reindex(columns=['name', 'age', 'balance'])

In [ ]:
import pandas as pd
data = [['Ivan', 25, 4, 50, 1], 
        ['Petr', 40, 9, 250, 8], 
        ['Nikolay', 19, 12, 25, 1], 
        ['Sergey', 33, 6, 115, 6],
        ['Andrey', 38, 2, 152, 4],
        ['Ilya', 20, 18, 15, 2],
        ['Igor', 19, 2, 10, 1]]
_df3 = pd.DataFrame(data, columns=['name', 'age', 'clicks', 'balance', 'history'], index=list('abcdefg'))
_df3[['name', 'balance']][-3:]

In [ ]:
# Вытяните последние три строки со столбцами name и balance
import pandas as pd
def solution(_df):
    return _df[['name','balance']].loc[['e', 'f', 'g']]
solution(_df3)
#_df[['name', 'balance']][-3:]
#_df[['name', 'balance']]['e':]

In [ ]:
# Выведите только тех пользователей, которые старше 30 лет:
import pandas as pd
def solution(_df):
    return _df[_df['age']>30]

In [ ]:
# Выведите пользователей, которые младше 30 лет и баланс больше 20:
import pandas as pd
def solution(_df):
    return _df[(_df['age']<30)&(_df['balance']>20)]

In [ ]:
# Определите пользователей у которых баланс больше 100. Возьмите две колонки name и age
import pandas as pd
def solution(_df):
    #_df = _df[_df['balance']>100]
    return _df[_df['balance']>100][['name', 'age']]
solution(_df3)

In [ ]:
#_df3
# выберите из датафрейма записи, если имя пользователя Petr или Andrey. От получившегося датафрейма возьмите три столбца: name, age, balance:
#_df3[(_df3['name']=='Petr') | (_df3['name']=='Andrey')][['name', 'age', 'balance']]
import pandas as pd
def solution(_df):
    return _df[(_df['name']=='Petr') | (_df['name']=='Andrey')][['name', 'age', 'balance']]
solution(_df3)

In [ ]:
# В компании было принято решение обнулить баланс для пользователей у которых баланс меньше 100. 
# Вы были выбраны исполнителем. Отредактируйте колонку balance.
import pandas as pd
import numpy as np
def solution(_df):
    _df['balance'] = np.where(_df['balance']<100, 0, _df['balance'])
    return _df
solution(_df3)

## 3.10 Введение в Pandas. Операторы loc, iloc, at, iat. Сложение нескольких датафреймов

In [ ]:
import pandas as pd
data = [['Ivan', 25, 4, 50, 1], 
        ['Petr', 40, 9, 250, 8], 
        ['Nikolay', 19, 12, 25, 1], 
        ['Sergey', 33, 6, 115, 6],
        ['Andrey', 38, 2, 152, 4],
        ['Ilya', 20, 18, 15, 2],
        ['Igor', 19, 2, 10, 1]]
_df5 = pd.DataFrame(data, columns=['user_name', 'user_age', 'user_clicks', 'user_balance', 'user_history'], index=list('abcdefg'))
#_df5[['user_age', 'user_clicks']]
_df5

  user_name  user_age  user_clicks  user_balance  user_history
a      Ivan        25            4            50             1
b      Petr        40            9           250             8
c   Nikolay        19           12            25             1
d    Sergey        33            6           115             6
e    Andrey        38            2           152             4
f      Ilya        20           18            15             2
g      Igor        19            2            10             1

In [ ]:
# Необходимо вытащить только 1 строку
# Вот так вот не работает:
_df5[['user_age', 'user_clicks']]['e']
# Вернёт ошибку "Key error"

In [ ]:
# Вот так работает, если необходимо вытащить только 1 строку
_df5[['user_age', 'user_clicks']][3:4]

In [ ]:
# Оператор loc[]
# Оператор loc используется для вытягивания данных из датафрейма на основе лейблов!
# Обязательно после loc указывать квадратные, а не круглые скобки!
# В скобках: слева от запятой лейблы строк, справа от запятой лейблы столбцов.
print(_df5.loc['e'])  # одна строка
print('*'*50)
print(_df5.loc[['e', 'c']])  # две строки
print('*'*50)
print(_df5.loc[['e', 'c'], ['user_age','user_clicks']])  # две строки и два столбца
print('*'*50)
print(_df5.loc[['e', 'c'], 'user_age'])  # две строки и один столбец
print('*'*50)
print(_df5.loc['e', 'user_age'])  # одна строка и один столбец
print('*'*50)

In [ ]:
# Вытащим только определённую колонку со всеми строками
print(_df5.loc[:, 'user_age'])

In [ ]:
# Вытащим только определённую строку со всеми колонками
print(_df5.loc['c', :])

In [ ]:
# Оператор loc[] поддерживает условия
_df5.loc[_df5['user_age']>30, ['user_name', 'user_age']]
# все строки со значениями более 30
# только 2 нужные колонки

In [ ]:
# Оператор iloc[]
# Оператор iloc похож на loc, но работает не с лейблами, а с индексами!

In [ ]:
# Номер индекса указываем, как обычно
df6 = _df5.iloc[[0, 4, 0, 1]].copy()
df6

In [ ]:
# Несколько строк и две колонки
_df5.iloc[[0, 4, 0, 1], [1, 2]]

In [ ]:
# Операторы at / iat
# Оператор at очень похож на loc, но в at нельзя передавать список лейблов. Тоже самое и с iat
# Операторы at / iat до 60 раз быстрее, чем loc/iloc

In [ ]:
_df5.iat[1 ,3]

In [ ]:
# Главное / принципиальное отличие - at/iat - оптимизированная версия loc/iloc

In [ ]:
# Также через эти методы можно менять значения определённых элементов
_df5.iat[3, 1] = 1000
_df5

In [ ]:
_df5.loc[['a', 'd'], ['user_clicks', 'user_history']] = -1000
_df5

In [ ]:
# Сложение датафрэймов
# Запомните, что связка идет по двум индексам!
# Как мы посмотрели, арифметические операции хорошо работают даже если у датафреймов отличается количество строк/столбцов.
import numpy as np
df1 = pd.DataFrame(np.arange(9).reshape(3, 3), columns=list('bcd'), index=['Moscow', 'Kazan', 'Vladivostok'])
df2 = pd.DataFrame(np.arange(12).reshape(4, 3), columns=list('bde'), index=['Yakutsk', 'Moscow', 'Kazan', 'Ufa'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
# Выполняет действие для тех у которых индексы есть в обоих
# По остальным - NaN
df1 + df2

In [ ]:
# Сравнить датафрэймы не получится, если длины разные:
df1 == df2
#df1 < df2
#df1 > df2

In [ ]:
# Выполните поэлементное сложение двух строк (a и d):
import pandas as pd
def solution(_df):
    return _df.loc['a'] + _df.loc['d']

## 3.11 Введение в Pandas. Сложение датафреймов, сортировки, арифметика с пропусками

In [ ]:
# Что делать, если сложить нужно, но одного элемента нет, =NaN
import numpy as np
import pandas as pd
df1 = pd.DataFrame({'visits': [500, 600, 200]}, index=['Omsk', 'Nov', 'Tomsk'])
df2 = pd.DataFrame({'visits': [900, np.nan, 100]}, index=['Omsk', 'Nov', 'Tomsk'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
# Теперь просто сложим два датафрэйма
df1 + df2
# Конечно по строке "Nov" выдаст NaN

In [ ]:
# Необхоимо как-то сложить так, чтобы для Nov тоже было значение
# Принять, что в df1 Nov будет = 0
# Есть специальная функция
# Если и и там будет NaN, то тут уже не сработает.
df1.add(df2)  # в таком виде она абсолютно такая же, как +

In [ ]:
# Дополним функцию - в местах NaN укажем 0
df1.add(df2, fill_value=0)  # можно указать и другие значения, кроме 0

In [ ]:
# add, radd - сложение
# sub, rsub - вычитание
# div, rdiv - деление
# mul, rmul - умножение
# pow, rpow - возведение в степень

# Отличие в букве r:
# меняет местами аргументы:
# df1.div(5)  - датафрэйм разделить на 5
# df1.rdiv(5) - 5 разделить на датафрэйм

In [ ]:
# Сложение датафрэйма и серии
import numpy as np
import pandas as pd
df1 = pd.DataFrame({'a': [500, 600, 200],
                    'b': [1,3,5]}, index=['Omsk', 'Nov', 'Tomsk'])
s1 = pd.Series([2,5], index=['a', 'b'])
print(s1, df1, sep='\n')
df1 + s1
# ко все значениям столба a добавил значение из серии s1 - 2
# ко все значениям столба b добавил значение из серии s1 - 5
# По умолчанию серия и дф складываются по лейблам колонок

a    2
b    5
dtype: int64
         a  b
Omsk   500  1
Nov    600  3
Tomsk  200  5

         a   b
Omsk   502   6
Nov    602   8
Tomsk  202  10

In [ ]:
# Если одна из колонок дф не передана в сложении
s2 = pd.Series(2, index=['a'])
print(s2, df1, sep='\n')
df1 + s2
# колонка b в дф будет вся равна NaN, так как в серии не переданы значения b

a    2
dtype: int64
         a  b
Omsk   500  1
Nov    600  3
Tomsk  200  5

           a   b
Omsk   502.0 NaN
Nov    602.0 NaN
Tomsk  202.0 NaN

In [ ]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame({'a': [500, 600, 200],
                    'b': [1,3,5]}, index=['Omsk', 'Nov', 'Tomsk'])
df1
s1 = pd.Series([2,5], index=['a', 'b'])

         a  b
Omsk   500  1
Nov    600  3
Tomsk  200  5

In [ ]:
# Попытаемся дополнить дф по строке:
s1 = pd.Series([2,5], index=['Omsk', 'Nov'])
# Чтобы дополнить 2 строки - Nov / Omsk
df1 + s1
# не получится, добавил 2 новых колонки Nov / Omsk
# ТАК НЕ РАБОТАЕТ!

       Nov  Omsk   a   b
Omsk   NaN   NaN NaN NaN
Nov    NaN   NaN NaN NaN
Tomsk  NaN   NaN NaN NaN

In [ ]:
# Это нужно сделать через add с указанием оси:
df1.add(s1, axis=0)
# Ко всем элементам в строке Omsk добавилось по 2
# Ко всем элементам в строке Nov добавилось по 5
# Tomsk NaN так как в серии нет такого индекса

           a    b
Nov    605.0  8.0
Omsk   502.0  3.0
Tomsk    NaN  NaN

In [ ]:
# Сортировка серий

In [ ]:
s3 = pd.Series([2,5,-4,8,0,-3], index=['a', 'b', 'r', 'd', 'q', 'h'])
print(s3)
# По умолчанию: дф.sort_index(axis=0) !
# Сортировка индексов по алфавиту
print(s3.sort_index())                  # от начала алфавита к концу
# по умолчанию ascending=True
print(s3.sort_index(ascending=False))   # от конца алфавита к началу
# Сортировка значений
print(s3.sort_values())                 # от меньшего к большему
print(s3.sort_values(ascending=False))  # от большего к меньшему

In [ ]:
# Сортировка дф

In [ ]:
df4 = pd.DataFrame(np.arange(12).reshape((4,3)), columns=list('ebd'), index=list('adce'))
df4

   e   b   d
a  0   1   2
d  3   4   5
c  6   7   8
e  9  10  11

In [ ]:
df4.sort_index()
# отсортировал строки, так как по умолчанию axis=0

   e   b   d
a  0   1   2
c  6   7   8
d  3   4   5
e  9  10  11

In [ ]:
df4.sort_index(axis=1, ascending=False)
# отсортировал колонки, так как указал axis=1, в обратном порядке - ascending=False

   e   d   b
a  0   2   1
d  3   5   4
c  6   8   7
e  9  11  10

In [ ]:
import pandas as pd
data = [['Ivan', 25, 4, 50, 1], 
        ['Petr', 40, 9, 250, 8], 
        ['Nikolay', 19, 12, 25, 1], 
        ['Sergey', 33, 6, 115, 6],
        ['Andrey', 38, 2, 152, 4],
        ['Ilya', 20, 18, 15, 2],
        ['Igor', 19, 2, 10, 1]]
df5 = pd.DataFrame(data, columns=['name', 'age', 'clicks', 'balance', 'history'], index=list('abcdefg'))
df5

In [ ]:
# Отсортируем значения в колонке age от нименьшего к наибольшему
df5.sort_values(by='age')
#df5.sort_values(by='age', ascending=False)  # наоборот

      name  age  clicks  balance  history
c  Nikolay   19      12       25        1
g     Igor   19       2       10        1
f     Ilya   20      18       15        2
a     Ivan   25       4       50        1
d   Sergey   33       6      115        6
e   Andrey   38       2      152        4
b     Petr   40       9      250        8

In [ ]:
# Несколько колонок
df5.sort_values(by=['age', 'balance'], ascending=False)
# Основной фильтр идёт по первому аргументу - колонка age
# Если в колонке age одинаковые элементы, тогда смотрит что во втором аргументе - колонке balance

      name  age  clicks  balance  history
b     Petr   40       9      250        8
e   Andrey   38       2      152        4
d   Sergey   33       6      115        6
a     Ivan   25       4       50        1
f     Ilya   20      18       15        2
c  Nikolay   19      12       25        1
g     Igor   19       2       10        1

In [ ]:
# ВАЖНО!
# при сортировке по нескольким столбцам можно отдельно задавать направление сортировки для каждого столбца, например, 
#так: 
df5.sort_values(by=['age', 'balance'], ascending=[False, True])

      name  age  clicks  balance  history
b     Petr   40       9      250        8
e   Andrey   38       2      152        4
d   Sergey   33       6      115        6
a     Ivan   25       4       50        1
f     Ilya   20      18       15        2
g     Igor   19       2       10        1
c  Nikolay   19      12       25        1

In [ ]:
# Проверка индексов на уникальность
# is_unique
import pandas as pd
s1 = pd.Series([2,5,4,5], index=['a', 'b', 'f', 'q'])
s2 = pd.Series([2,5,4,5], index=['a', 'a', 'a', 'q'])
print(s1.index.is_unique)  # True
print(s2.index.is_unique)  # False

In [ ]:
# Важный момент
# Если есть несколько колонок с одним именем выведет все колонки с этим именем
s2['a']

a    2
a    5
a    4
dtype: int64

## 3.12 Введение в Pandas. Описательные статистики. Уникальные значения

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'visits_2021' : [100, 200, 300, 50, 40],
                   'visits_2020' : [90, 100, np.nan, 10, 80],
                   'visits_2019' : [10, np.nan, 20, 16, 80]}, index=['Moscow', 'Kazan', 'Ufa', 'Yakutsk', 'Novosibirsk'])
df

             visits_2021  visits_2020  visits_2019
Moscow               100         90.0         10.0
Kazan                200        100.0          NaN
Ufa                  300          NaN         20.0
Yakutsk               50         10.0         16.0
Novosibirsk           40         80.0         80.0

In [ ]:
# Сумма в дф
# Игнорирует NaN
print(df.sum())        # сумма по колонкам
print(df.sum().sum())  # сумма по всему дф / axis=0 по умолчанию
print(df.sum(axis=1))  # сумма по строкам

visits_2021    690.0
visits_2020    280.0
visits_2019    126.0
dtype: float64
1096.0
Moscow         200.0
Kazan          300.0
Ufa            320.0
Yakutsk         76.0
Novosibirsk    200.0
dtype: float64

In [ ]:
# Среднее значение
print(df.mean())         # по колонкам
print(df.mean(axis=1))   # по строкам

visits_2021    138.0
visits_2020     70.0
visits_2019     31.5
dtype: float64
Moscow          66.666667
Kazan          150.000000
Ufa            160.000000
Yakutsk         25.333333
Novosibirsk     66.666667
dtype: float64

In [ ]:
# Важный момент!
# В примере выше значения NaN просто игнорируются и НЕ учитываются в расчёте = искажение данных
# Вот так будет корректно:
# skipna - брать или не брать в расчёт NaN
# По умолчанию значение skipna - True
df1 = df.fillna(0).copy()        # Заполним 0 взамен NaN и сохраним в новый дф
df1.mean(axis=1, skipna=False)   # выведем средние значения
# можно просто вот так сразу: df.fillna(0).mean(axis=1, skipna=False)

Moscow          66.666667
Kazan          100.000000
Ufa            106.666667
Yakutsk         25.333333
Novosibirsk     66.666667
dtype: float64

In [ ]:
# Минимальное значение
# max / min
print(df.min())        # по колонкам
print(df.min(axis=1))  # по строкам

visits_2021    40.0
visits_2020    10.0
visits_2019    10.0
dtype: float64
Moscow          10.0
Kazan          100.0
Ufa             20.0
Yakutsk         10.0
Novosibirsk     40.0
dtype: float64

In [ ]:
# describe - сводная описательная статистика
df.describe()
# df.T.describe() - посмотреть сводку по строкам

       visits_2021  visits_2020  visits_2019
count     5.000000     4.000000     4.000000
mean    138.000000    70.000000    31.500000
std     110.544109    40.824829    32.593455
min      40.000000    10.000000    10.000000
25%      50.000000    62.500000    14.500000
50%     100.000000    85.000000    18.000000
75%     200.000000    92.500000    35.000000
max     300.000000   100.000000    80.000000

In [ ]:
# Заменим NaN на 0
df = df.fillna(0).copy()
df.T.describe()  # вот теперь рассчёты корректные при допуске, что NaN = 0

           Moscow  Kazan         Ufa    Yakutsk  Novosibirsk
count    3.000000    3.0    3.000000   3.000000     3.000000
mean    66.666667  100.0  106.666667  25.333333    66.666667
std     49.328829  100.0  167.729942  21.571586    23.094011
min     10.000000    0.0    0.000000  10.000000    40.000000
25%     50.000000   50.0   10.000000  13.000000    60.000000
50%     90.000000  100.0   20.000000  16.000000    80.000000
75%     95.000000  150.0  160.000000  33.000000    80.000000
max    100.000000  200.0  300.000000  50.000000    80.000000

In [ ]:
# describe с серией
s1 = pd.Series(['a', 'a', 'c', 'c', 'c', 1, 10])
s1.describe()

count     7
unique    4
top       c
freq      3
dtype: object

In [ ]:
# Получить уникальные значения:
s1.unique()
#df['visits_2020'].unique()  # для дф

array(['a', 'c', 1, 10], dtype=object)

In [ ]:
# Получить уникальные значения, вариант 2
print(set(df['visits_2020']))

{0.0, 100.0, 10.0, 80.0, 90.0}

In [ ]:
# Количество уникальных значений
s1.value_counts()
#

c     3
a     2
1     1
10    1
dtype: int64

In [ ]:
# Процентаж уникальных значений
df['visits_2020'].value_counts(normalize=True)

90.0     0.2
100.0    0.2
0.0      0.2
10.0     0.2
80.0     0.2
Name: visits_2020, dtype: float64

In [ ]:
# Проверить вхождение элемента в серию:
s1.isin(['c'])

0    False
1    False
2     True
3     True
4     True
5    False
6    False
dtype: bool

## 3.13 Введение в Pandas. Контрольная работа

In [ ]:
# В отдельном файле на гуглдиске

# 4. Pandas: работа с источниками данных

## 4.1 Что такое формат CSV и как его приручить?

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# CSV
# Comma separated values

In [ ]:
# Подгрузим файл к ноутбуку
! gdown --id 1lj0WoZtaqicFr-uiUfYS-a1uN6WPvqyH

In [ ]:
# сделаем дф из csv - уже из опыта
df = pd.read_csv('/content/Snowball_Alpha.csv')
df

In [ ]:
# Откроем файл
f = open('Snowball_Alpha.csv')

In [ ]:
# Посмотрим линии в файле
for line in f:
  print(line)
#f.close()

In [ ]:
# Сделаем списки / матрицы из файла
for line in f:
  print(line.split(','))
#f.close()

In [ ]:
# Всё это погрузим в матрицу
matrix = []
for line in f:
  _lst = line.split(',')
  matrix.append(_lst)
#f.close()
matrix

In [ ]:
# Создадим дф на основе имеющейся матрицы
df2 = pd.DataFrame(matrix)
df2

In [ ]:
# Специальная функция, которая упрощает жизнь:
# read_csv

In [ ]:
# Что делать, если файл лежит в другом месте на диске
# Так не получится:
#df3 = pd.read_csv('C:\Папа\Download\Snowball_Holdings.csv')
# Развернуть \ на /
df3 = pd.read_csv('C:/Папа/Download/Snowball_Holdings.csv')

In [ ]:
# ВАЖНО!
# На Google Colab так открыть файл с локального места невозможно
# Чтобы загрузить с локального диска, начните со следующего кода:
# from google.colab import files
# uploaded = files.upload()
# Вам будет предложено выбрать файл. Нажмите «Выбрать файлы», затем выберите и загрузите файл. 
# Подождите, пока файл загрузится на 100%. Вы должны увидеть имя файла, как только Colab загрузит его.
# Наконец, введите следующий код, чтобы импортировать его во фрейм данных (убедитесь, что имя файла совпадает с именем загруженного файла).
# import iodf2 = pd.read_csv(io.BytesIO(uploaded['Filename.csv']))# Dataset is now stored in a Pandas Dataframe

In [ ]:
# pd.read_csv по умолчанию в качестве разделителя принимает ","
# Если разделитель не ",":
# df3 = pd.read_csv('C:/Папа/Download/Snowball_Holdings.csv', sep=';') - ; - разделительный знак

In [ ]:
# Убрать заголовок (названия серий/колонок) в функции pd.read_csv
# df3 = pd.read_csv('C:/Папа/Download/Snowball_Holdings.csv', header=None) - не будет заголовков. Просто индексы 0,1,2...

In [ ]:
# Задать заголовок (названия серий/колонок) в функции pd.read_csv
# df3 = pd.read_csv('C:/Папа/Download/Snowball_Holdings.csv', names=['asa', 'qs'])

In [ ]:
# если в csv-файле заголовки указаны, но их хотелось бы обозвать по своему, можно в read_csv совместить параметры
# header=0 и names=['my_col_name_1', ..., 'my_col_name_n']

In [ ]:
# Задать колонку, которая будет индексом через pd.read_csv
# df3 = pd.read_csv('C:/Папа/Download/Snowball_Holdings.csv', index_col='name')

In [ ]:
# Обработать таблицу / найти станцию, на которой больше всего было "входов пассажиров" в 2021 в 4 квартале
# Загрузим в колаб с гугдиска
! gdown --id 1TVBnmPn-H3pz9okFx40pjju0c9hJBvnM

In [ ]:
# прочитаем и сделаем дф
df5 = pd.read_csv('/content/Пассажиропоток_МосМетро_2.csv', sep=';')

In [ ]:
# Из первой строки сделаем названия колонок и удалим её
df5.columns = df5.iloc[0]
df5 = df5.drop([0])

In [ ]:
df5

In [ ]:
# В названия индексов загоним названия станций
df5.index = df5['Станция метрополитена']

In [ ]:
# Фильтр год / квартал. Серия по "Входы пассажиров". Преобразуем в флот. Сортируем от большего к меньшему
df5[(df5['Год']=='2021')&(df5['Квартал']=='IV квартал')]['Входы пассажиров'].astype(float).sort_values(ascending=False)

## 4.2 Поподробнее про обработку пропусков

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#https://drive.google.com/file/d/1PpdEiXW4tZVmHQh2V97W9090EAqbGiK9/view?usp=share_link
! gdown --id 1PpdEiXW4tZVmHQh2V97W9090EAqbGiK9

In [ ]:
# В данном файле умышленно добавлены 2 строки с комментариями
df = pd.read_csv('/content/Test1_Pandas.csv', sep=';')
df
# В таком виде ерунда получается

In [ ]:
# Наличие строчек с комментариями в файле. Комментарии реально мешают
# skiprows при чтении файла - пропустить определённые строки
df2 = pd.read_csv('/content/Test1_Pandas.csv', sep=';', skiprows=[0,2])  # внутри skiprows - номера строк, которые необходимо убрать
df2

  client  balance   age
0   Ivan  1500,25   NaN
1   Vova     2000  30.0
2   Petr     2500  45.0

In [ ]:
#https://drive.google.com/file/d/1u_nFiESQ8Prxh_OHqBGvE2h1fWl5juBn/view?usp=sharing
! gdown --id 1u_nFiESQ8Prxh_OHqBGvE2h1fWl5juBn

In [ ]:
df3 = pd.read_csv('/content/Test2_Pandas.csv', sep=';')
df3

  client  balance  age
0   Ivan   1500.0   25
1   Vova      NaN   30
2   Petr   2500.0   45

In [ ]:
# Посмотрим на наличие нулей
pd.isnull(df3)

   client  balance    age
0   False    False  False
1   False     True  False
2   False    False  False

In [ ]:
# В функцию pd.read_csv уже зашиты значения, которые она читает, как NaN
# Весь перечень символов. Взят из официального документа (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)
# By default the following values are interpreted as NaN: ‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’, ‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘<NA>’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’, ‘n/a’, ‘nan’, ‘null’.

In [ ]:
# Что делать, если в выгрузке кроме этого есть другие символы, которые необходимо интерпретировать, как NaN
# na_values
#https://drive.google.com/file/d/1-egEkqU6mF6sRpeH7VkIZBnC0iLuOiYc/view?usp=sharing
#! gdown --id 1-egEkqU6mF6sRpeH7VkIZBnC0iLuOiYc
#df4 = pd.read_csv('/content/Test3_Pandas.csv', sep=';')
#df4
df5 = pd.read_csv('/content/Test3_Pandas.csv', sep=';', na_values=[-1])
df5

  client  balance  age
0   Ivan      NaN   25
1   Vova      NaN   30
2   Petr      NaN   45

In [ ]:
df5.isnull()

   client  balance    age
0   False     True  False
1   False     True  False
2   False     True  False

In [ ]:
# Значения, которые мы хотим загнать в дф, как NaN - ограничить поле
# Внутри функции na_values передать словарь. Ключ - колонка
df6 = pd.read_csv('/content/Test3_Pandas.csv', sep=';', na_values={'age' : [-1]})  # Только в кололнке age все элементы -1 загнать, как пропуск

In [ ]:
# Прочитать только первые n строк
# Помимо заголовка, заголовок не входит в n
df6 = pd.read_csv('/content/Test3_Pandas.csv', sep=';', nrows=10)  # загрузить в дф только перве 10 строк из файла

In [ ]:
# Задача 1. Скачать файл, открыть, убрать лишее, найти сумму по одному из столбцов - IncomingPassengers
#https://drive.google.com/file/d/1eio66nwovikq9j0VWYrFSHZhweHisxCL/view?usp=share_link
! gdown --id 1eio66nwovikq9j0VWYrFSHZhweHisxCL
#df6 = pd.read_csv('/content/Pass_Mos_1.csv', sep='|', skiprows=[0,1,2,3,5,1380])  # разделитель - | . Лишние стоки также убрал
#df6
#df6.IncomingPassengers.sum()

In [ ]:
# Задача 2. Скачать, открыть, в колоке заменить значения на NaN, определить количество NaN
#https://drive.google.com/file/d/11kM_uTiyQ4YAdHhcK5qoy6A3GOdasE4H/view?usp=sharing
#! gdown --id 11kM_uTiyQ4YAdHhcK5qoy6A3GOdasE4H
df7 = pd.read_csv('/content/Pass_Mos_2.csv', sep='|', skiprows=[1], na_values={'IncomingPassengers' : [0, 'NULL', 'None', 'не указано']})
#df7
#df7.IncomingPassengers.isnull().sum() # создаём маску, где True - это NaN в данном столбце и далее просто суммируем. Каждый True - +1

## 4.3 Учимся читать большие файлы кусочками. Сохранение в csv. utf-8

In [ ]:
# Причина - очень большие файлы
# chunksize
reader = pd.read_csv('/content/Pass_Mos_1.csv', sep='|', skiprows=[0,1,2,3,5,6,1380], chunksize=2)  # по 2 строки
reader
# Получится <pandas.io.parsers.readers.TextFileReader at 0x7f27206c6950> - умный объект, из которого будем вытаскивать

In [ ]:
for df in reader:  # reader хранит только ссылку
  print(df)
  input('---')  # тормозим после вывода двух штук

In [ ]:
df8 = pd.read_csv('/content/Pass_Mos_1.csv', sep='|', skiprows=[0,1,2,3,5,6,1380])
df8

In [ ]:
# Пример использования
# Посчитаем количество каждого элемента в колонке Line
# value_counts - считает количество уникальных значений
total_quarter = pd.Series([], dtype=object)
for df in reader:
  total_quarter = total_quarter.add(df['Line'].value_counts(), fill_value=0)  # fill_value=0 в пустоту поставит 0
  #print("Chunk done")
print('The job is done')

The job is done

In [ ]:
total_quarter
# Покажет количество каждого элемента

In [ ]:
# Сохранение нового дф
#df8_1 = df8[df8['Line']=='Арбатско-Покровская линия']  # создал новый дф
#df8_1
df8_1.to_csv('/content/output_df8_1.csv')  # в скобках передать путь
# По умолчанию разделитель будет - ,
# Помнять разделитель:
# df8_1.to_csv('/content/output_df8_1.csv', sep=';')

In [ ]:
# При сохранении пропуски замнить на определённое значение:
df8_1.to_csv('/content/output_df8_1.csv', na_rep='NULL')  # так при сохранеии дф на месте пропуска будет NULL

In [ ]:
# Сохранить только некоторые столбцы
df8_1.to_csv('/content/output_df8_1.csv', columns=['one', 'two'])

In [ ]:
# Не сохнять индекс
df8_1.to_csv('/content/output_df8_1.csv', index=False)

In [ ]:
# Не сохранять шапку - названия колонок
df8_1.to_csv('/content/output_df8_1.csv', header=False)

In [ ]:
# При обратной загрузке колонку с индексами снова загнать в индекс, а не делать из неё новую колонку
df8 = pd.read_csv('/content/Pass_Mos_1.csv', sep='|', index_col=0)

In [ ]:
# Чаще всего в качестве алфавита (кодировки) используется utf-8
# Именно она по умолчанию используется в функции read_csv, но некоторые системы формируют csv файл с использованием других алфавитов (кодировок).
# И тогда возникает конфликт: read_csv ожидает файл в кодировке utf-8, а на деле файл в другой кодировке - возникает ошибка.
# Надо понимать в какой кодировке сохранен файл, который мы хотим прочитать.
# Если в кодировке windows-1251 - добавить при открытии: read_csv(..., encoding='windows-1251')

# по умолчанию функция to_csv сохраняет файл в кодировке utf-8, но вы можете задать другую кодировку.
# В этом вам поможет тот же параметр encoding

In [ ]:
# Задача 1.
# Загрузите файл в датафрейм и оставьте только пользователей женского пола.
# Сохраните датафрейм в формате csv без индекса и в кодировке utf8.
# Оставьте только две колонки: username и mail

In [ ]:
#https://drive.google.com/file/d/1qPagV8gbNNQNqQ4xMHjYr6P-MMQP-qHI/view?usp=sharing
#! gdown --id 1qPagV8gbNNQNqQ4xMHjYr6P-MMQP-qHI
#df_test = pd.read_csv('/content/users.csv', sep=';')
#df_test = df_test[df_test['sex']=='F']
#df_test.head()
df_test.to_csv('/content/output_users.csv', sep=';', index=False, encoding='utf-8', columns=['username', 'mail'])

In [ ]:
# Задача 2.
# Скачать выгрузку. Прочитайте первые 50 записей выгрузки и определите количество мужчин.

In [ ]:
#https://drive.google.com/file/d/1ZPdnJts8HcFU3lF_FeigPaNjqQdD4DLs/view?usp=sharing
#! gdown --id 1ZPdnJts8HcFU3lF_FeigPaNjqQdD4DLs
#reader = pd.read_csv('/content/users1.csv', sep=';', chunksize=50)
#reader
total = pd.Series([], dtype=object)
for df in reader:
  total = total.add(df['sex'].value_counts(), fill_value=0)
  print(total)
  input()
# этого вполне достаточно чтобы понять информацию по заданию

In [ ]:
# Задача 3.
# Определите в какой кодировке сохранена выгрузка.
# Открыть через Notepad++. Внизу окна справа указана кодировка.

In [ ]:
# Задача 4.
# Скачать и организовать чтение чанками по 30
# Для пятого чанка с данными определите сколько пользователей с группой крови A+. Не сумарно! А просто для пятого
# Группа крови хранится в столбце blood_group

In [ ]:
#https://drive.google.com/file/d/1QY4pVuzm3NQSx1VGKE10h5ieuV18jmC7/view?usp=sharing
#! gdown --id 1QY4pVuzm3NQSx1VGKE10h5ieuV18jmC7
#reader_1 = pd.read_csv('/content/users_last.csv', sep=';', chunksize=30)
#reader_1
for df in reader_1:
  print(df['blood_group'].value_counts())  # просто посмотрим результаты для каждого чанка
  input()

## 4.4 Кто такой JSON и как с ним подружиться?

In [ ]:
# JSON - JavaScript Object Notation
# Фактически это словарь или набор словарей. Максимально похоже на словарь.
# Используется при взаимодействии клиент - сервер, так как при этом виде удобнее, чем csv.

In [ ]:
# Загрузим файл в формате JSON
# https://drive.google.com/file/d/1feB1ntyR5FzjFmZA8_kecer68_9VYXYQ/view?usp=sharing
#! gdown --id 1feB1ntyR5FzjFmZA8_kecer68_9VYXYQ
df1 = pd.read_json('/content/JSON_test.json')  # не получилось
#df1

In [ ]:
# Сохранить в формате json

#! gdown --id 1ZPdnJts8HcFU3lF_FeigPaNjqQdD4DLs
df5 = pd.read_csv('/content/users1.csv', sep=';')
df5 # Такой дф есть у нас

In [ ]:
df5.to_json('/content/json_out.json')  # по умолчанию формирует по колонкам

In [ ]:
df5.to_json('/content/json_out2.json', orient='records')  # так будет ракладка по строкам. Так понятнее информация

In [ ]:
# Создадим скрипт, который сам с сайта скачает данные
import requests
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=demo'
r = requests.get(url)
data = r.json()
data  # вот наш словарь

In [ ]:
my_data = data['Time Series (5min)']  # словарь, который нам нужен
df = pd.DataFrame(my_data)  # cсоздали дф на базе словаря
df.T  # транспонировали для удобства

In [ ]:
# Задача 1.
# Скачать данные в формате JSON
# Загрузите данные в датафрейм и определите самый дешевый тариф.

#https://drive.google.com/file/d/1vtu0oTsAZJDGGidi2UhfLsDYIKUdrtje/view?usp=sharing
#! gdown --id 1vtu0oTsAZJDGGidi2UhfLsDYIKUdrtje
#df = pd.read_json('/content/data-399-2022-07-01.json', encoding='windows-1251')
df[['NameOfTariff', 'TicketCost']].set_index('NameOfTariff').sort_values(by='TicketCost')
# Именно то, что хотел
# Фильтр на 2 колонки
# Колонку NameOfTariff в индексы
# Сортировка от меньшего к большему
# С самом верху наше тариф в индексе

In [ ]:
# Задача 2.
# Загрузить в дф
# оставьте только столбцы username, name, sex
# сохраните в формате json (кодировка utf8)
# 

#https://drive.google.com/file/d/1p9XR0_wb7BJszuXNRJZ5PE5qWQIj6O-p/view?usp=sharing
#! gdown --id 1p9XR0_wb7BJszuXNRJZ5PE5qWQIj6O-p
#df = pd.read_csv('/content/users99.csv', sep=';')
#df = df[['username', 'name', 'sex']]
#df
df.to_json('/content/user99_out.json')

## 4.5 Знакомимся с форматами HTML, XML, PICKLE, HDF5

In [ ]:
# HTML
# Прочитаем свой файл
#! gdown --id 1b--8mGMhn54350zSNXzFDcB2TajVbENi
#df = pd.read_html('/content/HTML_test.html')
df
# Это не очень то и похоже на дф

In [ ]:
# Посмотрим тип:
type(df)
# list

In [ ]:
# Посмотрим длину
len(df)
# 1
# Это всё значит, что функция read вернула нам лист, так как на одной страницу может быть несколько таблиц

1

In [ ]:
# Вот корректное обращение к нашему дф:
df[0]

   name  age sex
0  Vova   33   F
1  Volt   44   F
2  Vika   55   M
3  Vera   23   M

In [ ]:
# Дополнили исходный файл - добавили ещё 1 таблицу
df[1]  # Обращаемся ко второй таблице

   name  age
0  Vova   33
1  Volt   44
2  Vika   55
3  Vera   23

In [ ]:
# Теперь постараемся вычитать таблицу с сайта
# Необходимо иметь установленные функции
#!pip install lxml
#!pip install html5lib
#!pip install beautifulsoup4
# Сохраняем саму страницу в файл

# У меня уже были установлены, проверил

In [ ]:
#! gdown --id 1TzMnsRM7Aq8G9vSDsB4sPg7nXEXvbhgs
#list1 = pd.read_html('/content/HTML_test2.html')
#len(list1)  # судя по длине у нас внутри 3 таблицы
#df1 = list1[0]  # первые 2 таблицы - это календарь по срокам
#df1
#df2 = list1[2]  # вот эта таблица нам нужна
df2

In [ ]:
# Для чтения формата xml ранее необходимо было заморочиься через цикл. Вытащить в словарь всё поэлементно
# Сейчас есть функция read_xml

# Не конспектировал данный урок
# При необходимости пересмотреть урок. Всё подробно и понятно

In [ ]:
# PICKLE
# Бинарный формат
# Используется редко
# Удобен, если необходимо что-то быстро сохранить
# Сюда можно сохранять и дф и словари и листы и т.п.
# Есть риск того, что в не сможет быть корректно прочитан файл при изменении алгоритма его чтения

In [ ]:
#df2
#df2.to_pickle('/content/pickle_test')  # загнали в файл
#df3 = pd.read_pickle('/content/pickle_test')  # прочитали из файла
df3

In [ ]:
# HDF5
# Иерархический формат данных
# Бинарный формат
# Может хранить несколько дф и серий односременно
# Похож на словарь, по ключу можно вытащить объект - дф либо серию...

In [ ]:
# CSV, JSON, HTML, XML - являются текстовыми форматами данных. С ними легко работать
# PICKLE, HDF5 - бинарный. Когда речь идет о больших объемах данных и скорости работы

In [ ]:
# Задача 2
#https://drive.google.com/file/d/1bM2kXalArY7T_CL6LqgpxfqXw76q6L1v/view?usp=sharing
#! gdown --id 1bM2kXalArY7T_CL6LqgpxfqXw76q6L1v
#read = pd.read_html('/content/data.html')
#len(read) # 1 element
#df = read[0]
df.iloc[94][3:10].astype(float).sum()
# df[df['Unnamed: 0']=='Камчатский край'].loc[:,'2014 г.':'2020 г.'].sum(axis=1)

In [ ]:
# Задача 3
# https://drive.google.com/file/d/1qWimakA8_iDExElyaU61W-xyidpFa--6/view?usp=sharing
#! gdown --id 1qWimakA8_iDExElyaU61W-xyidpFa--6
#read = pd.read_html('/content/data2.html')
#len(read) # 1
#df3 = read[0]
#df3
s = ['Свердловская область', 'Магаданская область','Сахалинская область', 'Калужская область','Ярославская область', 'Кировская область']
index1 = []
values = []
for i in df3['Unnamed: 0']:
  if i in s:
    index1.append(i)
    values.append(abs(df3[df3['Unnamed: 0']==i]['23110000100100200001 Общий прирост постоянного населения.7'].astype(float)))
    #print(i, df3[df3['Unnamed: 0']==i]['23110000100100200001 Общий прирост постоянного населения.7'])
#print(index)
#print(values)
seria = pd.Series(values, index=index1)
seria

# Другие решения
#df_html.loc[['Свердловская область', 'Магаданская область','Сахалинская область', 'Калужская область','Ярославская область', 'Кировская область' ],'23110000100100200001 Общий прирост постоянного населения.7' ].astype(float).idxmin()

In [ ]:
# Задача 4
#https://drive.google.com/file/d/1RoIi2JLulTTWEs8Vtk5tbq50IqqaQY2l/view?usp=sharing
#! gdown --id 1RoIi2JLulTTWEs8Vtk5tbq50IqqaQY2l
#df = pd.read_xml('/content/users9.xml')
#df.head()
len(df[(df['sex']=='F')&(df['blood_group']=='B+')])

## 4.6 Старый добрый Excel и немного про базы данных

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Прочитать файл эксель
pd.read_excel('путь к файлу/файл')

In [ ]:
# Прочитать не с первого листа
pd.read_excel('путь к файлу/файл', sheet_name='Имя листа')

In [ ]:
# Задать с какой строки читать
pd.read_excel('путь к файлу/файл', header=1) # со второй строки

In [ ]:
# Если файл очень большой и долго загружать по 1 странице.
# Это хорошая практика
xlsx = pd.ExcelFile('путь к файлу/файл')
df1 = pd.read_excel('путь к файлу/файл')

In [ ]:
# Сохранить в файл
#! gdown --id 1BJ0FBnXDBv8hG9ldDsX1W0Ztnt3ow3y1
#df = pd.read_excel('/content/Data.xlsx')
df.to_excel('/content/Test_excel.xlsx')
df.to_excel('/content/Test_excel_1.xlsx', index = False)  # без индекса
df.to_excel('/content/Test_excel_2.xlsx', index = False, sheet_name='Отчёт666')  # без индекса и указали имя листа

In [ ]:
# Несколько листов в одном файле
writer = pd.ExcelWriter('/content/Test_excel4.xlsx')

In [ ]:
df.to_excel(writer, index = False, sheet_name='Отчёт')
df.to_excel(writer, index = False, sheet_name='Отчёт666')

In [ ]:
# теперь необходимо вызывать функцию
writer.save()

In [ ]:
# Посмотреть имена листов
xl = pd.ExcelFile('report.xlsx')
xl.sheet_names

In [ ]:
# Бывают скрытые листы в файлах
# Поэтому лучше сразу прописывать какой лист хотим открыть
pd.read_excel('путь к файлу/файл', sheet_name='Имя листа')

In [ ]:
# Скачать файл сразу с интернета
import pandas as pd
import numpy as np

In [ ]:
url = r'https://stepik.org/media/attachments/lesson/755303/23110000100100200001_%D0%9E%D0%B1%D1%89%D0%B8%D0%B9_%D0%BF%D1%80%D0%B8%D1%80%D0%BE%D1%81%D1%82_%D0%BF%D0%BE%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BD%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F.html'
tables = pd.read_html(url)

In [ ]:
tables[0]

In [ ]:
# Задача 10
# Порекомендуйте Андрею ТОП-3 района по количеству зарядных станций.
#import pandas as pd
#import numpy as np
url = r'https://stepik.org/media/attachments/lesson/755362/%D0%97%D0%B0%D1%80%D1%8F%D0%B4%D0%BD%D1%8B%D0%B5_%D1%81%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D0%B8_%D0%B4%D0%BB%D1%8F_%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BC%D0%BE%D0%B1%D0%B8%D0%BB%D0%B5%D0%B9.xlsx'
df = pd.read_excel(url, skiprows=[0])

In [ ]:
df['Район'].value_counts().head(3)

In [ ]:
df.head()

# 5  Pandas: чистка и подготовка данных к анализу

## 5.1 Учимся обрабатывать пропуски

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Обработка пропусков путём удаления строк / колонок с этими пропусками

In [ ]:
# В первую очередь при работе с дф необходимо его почистить - проверить на пропуски и удалить дубликаты
# NaN - пропуск
s = pd.Series(['Na', '243', 23, np.nan, 'WOW', None])
s

In [ ]:
# Проверить на пропуски
s.isnull()
# True - пропуск - значение 1 при сложении
# False - не пропуск - значение 0 при сложении

In [ ]:
# Фильтрануть серию только по пропускам:
s[s.isnull()]

In [ ]:
# Фильтрануть серию только по значениям без пропусков:
s[s.notnull()]

In [ ]:
# Другой пример
from numpy import nan as NA  # чтобы каждый раз не писать его
s2 = pd.Series([NA, 'NAN', 23, NA, 'WOW!', 103, 23])
s2

In [ ]:
# Удалить пропуски через функцию dropna()
s2.dropna()  # вернёт новую серию. не редактирует! Для этого либо присвоить в переменную либо inplace=True

In [ ]:
# Пример посложнее
df1 = pd.DataFrame([[4,2,3], [NA,NA,NA], [32,23,NA], [NA,2,3]])
df1

      0     1    2
0   4.0   2.0  3.0
1   NaN   NaN  NaN
2  32.0  23.0  NaN
3   NaN   2.0  3.0

In [ ]:
# Выкинуть все строки из дф, где есть хоть один пропуск
df2 = df1.dropna()
df2  # выкинул все строки, где есть хотябы один НАН

     0    1    2
0  4.0  2.0  3.0

In [ ]:
# Использование параметра how в функции dropna
# Параметром how мы можем регулировать условие при котором функция dropna будет выполнять удаление строк.
# how ='all' - в этом случае, если во всей строке  пропуски, тогда строка удаляется
# how ='any' - в этом случае, если в строке есть хотя бы один пропуск, то строка удаляется.
# По умолчанию у dropna параметр howравен 'any'

In [ ]:
# Удалим строки, где все строки с пропусками
df1.dropna(how='all')

      0     1    2
0   4.0   2.0  3.0
2  32.0  23.0  NaN
3   NaN   2.0  3.0

In [ ]:
# Удалим строки, где имеется хотябы 1 пропуск
df1.dropna(how='any')

     0    1    2
0  4.0  2.0  3.0

In [ ]:
# Добавим новый столбец с пустыми значениями
df1['New'] = NA

In [ ]:
# Выкинем колонки, где все значения НаН
df1.dropna(axis=1, how='all')

      0     1    2
0   4.0   2.0  3.0
1   NaN   NaN  NaN
2  32.0  23.0  NaN
3   NaN   2.0  3.0

In [ ]:
# Разница между drop и dropna заключается в том, что в drop вам надо явно указать колонки, которые содержат пропущенные значения.
# Если датафрейм большой, то у вас займет это не мало времени. Гораздо удобнее воспользоваться dropna.

# Кстати, если вы хотите ограничить функцию dropna только определенными колонками, тогда воспользуйтесь параметром subset.
# Например, если у нас в датафрейме четыре столбца: A, B, C, D и мы хотим удалять только строчки, где в столбцах A и B пропуски,
# а на C и D не обращать внимание, тогда следует воспользоваться параметром subset:
df.dropna(subset=['A', 'B'], how='all')  # для случаев, когда и в А и в B есть пропуск
df.dropna(subset=['A', 'B'], how='any') или df.dropna(subset=['A', 'B']) # для случаем, когда или в А или в B есть пропуск

In [ ]:
df1.dropna(subset=['A', 'D'], how='all')  # выбросили СТРОКИ, где в клонках A и D указан НаН

      A     B    C   D
0   4.0   2.0  3.0 NaN
2  32.0  23.0  NaN NaN

In [ ]:
df1.dropna(subset=['A', 'B'], how='any')  # выбросили СТРОКИ, где в пересечении с колонками или A или B указан НаН

      A     B    C   D
0   4.0   2.0  3.0 NaN
2  32.0  23.0  NaN NaN

In [ ]:
df1.columns = ['A', 'B', 'C', 'D']

In [ ]:
df1

      A     B    C   D
0   4.0   2.0  3.0 NaN
1   NaN   NaN  NaN NaN
2  32.0  23.0  NaN NaN
3   NaN   2.0  3.0 NaN

In [ ]:
# Параметром thresh мы можем сообщать функции dropna сколько не пустых значений должно быть в нашей строке/колонке.
# Например, если thresh=3, то функция dropna будет проверять чтобы в строке/колонке было минимум 3 непропущенных значения.
# Если больше, то хорошо, а вот если меньше, то такая строка будет удалена.

In [ ]:
df1.dropna(axis=1, thresh=1)  # если есть хотябы 1 значение (не пропуск)

      A     B    C
0   4.0   2.0  3.0
1   NaN   NaN  NaN
2  32.0  23.0  NaN
3   NaN   2.0  3.0

In [ ]:
df1.dropna(axis=1, thresh=3)  # если есть хотябы 3 значения (не пропусков)

      B
0   2.0
1   NaN
2  23.0
3   2.0

In [ ]:
df1

      A     B    C   D
0   4.0   2.0  3.0 NaN
1   NaN   NaN  NaN NaN
2  32.0  23.0  NaN NaN
3   NaN   2.0  3.0 NaN

In [ ]:
# Отфильтровать датафрейм так чтобы остались строчки, где в ячейках C и G нет пропусков.
_df[(_df['C'].notnull())&(_df['G'].notnull())]

## 5.2 Проверяем данные на дубликаты и избавляемся от них

In [ ]:
import pandas as pd
import numpy as np
from numpy import nan as NA

In [ ]:
# Просто удалить строку (столбец) - не всегда хорошая идея и может применяться

In [ ]:
# Чистка данных путём заполнения пропусков

In [ ]:
df = pd.DataFrame([[NA, 3, 4, NA, 5, 10], [15, 10, NA, NA, NA, 77], [NA, 33, 34, NA, 56, 34], [54, NA, 78, NA, 88, 77]], 
                  columns=['A', 'B', 'C', 'D', 'E', 'F'])
df

In [ ]:
# Заполняем пропуски
# Все пропущенные значения
df.fillna(50)  # значение 50
# НЕ МЕНЯЕТ исходный дф!

In [ ]:
# Разные по колонкам заполнения
# В аргуметы заводим словарь
df.fillna({'A' : 10, 'C' : 999})  # В клонке А пропуски заполним 10, в колонке С заполним 999
# НЕ МЕНЯЕТ исходный дф!

In [ ]:
df1 = pd.DataFrame([[45, 3, 45], [15, 10, 46], [25, NA, 34], [25, NA, NA], [45, NA, NA]], 
                  columns=['A', 'B', 'C'])

In [ ]:
# Заполнить пропуски, исходя из последних значений в колонке
# Для клонки В все пропуски ниже заполнить последней имеющейся цифрой - 10
# Для колонки С все пропуски ниже заполнить последней имеющейся цифрой - 34
df1.fillna(method='ffill')

    A     B     C
0  45   3.0  45.0
1  15  10.0  46.0
2  25  10.0  34.0
3  25  10.0  34.0
4  45  10.0  34.0

In [ ]:
# Заполнить пропуски, исходя из последних значений в колонке
# Установить лимит количества заменяемых элементов
df1.fillna(method='ffill', limit=1)  # заменить только 1 первый элемент по пути

    A     B     C
0  45   3.0  45.0
1  15  10.0  46.0
2  25  10.0  34.0
3  25   NaN  34.0
4  45   NaN   NaN

In [ ]:
df1.iloc[0,0] = NA

In [ ]:
# В случаях, когда первые значения это НаН - функция ffill не будет работать
# Заполнить в обратном порядке - от первого имеющегося элемента взять значение и указать его в НаН

In [ ]:
df1.fillna(method='bfill')  # В точку 0/А добавилось значение из первого встречного элемента - 1/А - 15

      A     B     C
0  15.0   3.0  45.0
1  15.0  10.0  46.0
2  25.0   NaN  34.0
3  25.0   NaN   NaN
4  45.0   NaN   NaN

In [ ]:
df1.fillna(method='bfill') = df1.fillna(method='backfill')
df1.fillna(method='pad') = df1.fillna(method='ffill')

In [ ]:
# Заполнить все пропуски средними значениями по колонке:
df1.fillna(df1.mean())

In [ ]:
# Заполнить все пропуски медианой по колонке:
df1.fillna(df1.median())

In [ ]:
# заполнить пропуски соответствующими значениями из другого дф:
df1.fillna(df2)

In [ ]:
df1

      A     B     C
0   NaN   3.0  45.0
1  15.0  10.0  46.0
2  25.0   NaN  34.0
3  25.0   NaN   NaN
4  45.0   NaN   NaN

In [ ]:
df3 = pd.DataFrame()
df3['group_name'] = ['A', 'B', 'A', 'B', 'A', 'B', 'B']
df3['group_value'] = [10, 10, 20, 30, 30, 40, 40]
df3

  group_name  group_value
0          A           10
1          B           10
2          A           20
3          B           30
4          A           30
5          B           40
6          B           40

In [ ]:
# Разбор с дублиактами
# В df3 последняя строка ялвляются дублирующей
# Функция duplicated проходит по каждой строке и говорит встречалась данная строка уже ранее или нет
df3.duplicated()  # серия с казанием в какой строчке имеется дубликат
# False - не дубликат
# True - дубликат

In [ ]:
sum(df3.duplicated())  # результат 1 - 1 дубликат в дф

In [ ]:
# Все строки, у которых есть дубликаты указать, как True
# То-есть и первое уникальоное значение строки и ВСЕ её дубликаты будут помечены, как True
df3.duplicated(keep=False)

In [ ]:
df3.duplicated(keep='first')
# пометить дубликаты как True, за исключением первого вхождения. Т.е. первое значение не будет считаться дубликатом.

In [ ]:
df3.duplicated(keep='last')
# ометить дубликаты как True, за исключением последнего вхождения. Т.е. последнее значение не будет считаться дубликатом.

In [ ]:
# Показать все дубликаты:
df3[df3.duplicated()]

  group_name  group_value
6          B           40

In [ ]:
# Дубликат не несёт никакой смысловой нагрузки поэтому его необходимо удалить
# Дубликат искажает данные
# Выкидываем дубликат:
df3.drop_duplicates()  # Расчёт идёт по всем колонкам. То-есть если дублируются данные во всех колонках
# Не изменяет исходный дф!

  group_name  group_value
0          A           10
1          B           10
2          A           20
3          B           30
4          A           30
5          B           40

In [ ]:
# Выкинуть дубликаты с привязкой к какой-нибудю конкретной колонке
df3.drop_duplicates(['group_name'])  # будет искать дубликаты только по указанной колонке
# Соответственно всё после второй строки выкинет
# По умолчанию будет идти сверху вниз. Сохранит только первые значения, остальные будет считеть дубликатами
# По умолчанию ключ: df3.drop_duplicates(['group_name'], keep='first')

  group_name  group_value
0          A           10
1          B           10

In [ ]:
# Ориентация на обратный порядок. Сохранить последний элемент, а все до него удалить:
df3.drop_duplicates(['group_name'], keep='last')
# оставил самые последние

  group_name  group_value
4          A           30
6          B           40

In [ ]:
# Удалить все оригинальные строки (если есть их дубликаты) + их дубликаты
df3.drop_duplicates(['group_name'], keep=False)
# Пустой дф, так как все строики имеют дубликаты

In [ ]:
df4 = pd.DataFrame()
df4['airline'] = ['Air1', 'Book', 'Art', 'Civ']
df4['planes'] = [10, 10, 20, 30]
df4
# Названия авивакомпаний и количество рейсов

In [ ]:
# Изменить дф - каждую аваикомпанию заменить на соответствующую страну
country = {'Air1' : 'Russia', 'Book' : 'USA', 'Art' : 'China', 'Civ' : 'Belguim'}
country

In [ ]:
# При помощи функции map пройдм по каждому элементу и заменим его на страну в соответствии с логикой вловаря
df4['airline'].map(country)  # эта функция уже ожидает, что внутри будет словарь
# Функция map провела транслирование

0     Russia
1        USA
2      China
3    Belguim
Name: airline, dtype: object

In [ ]:
# Создадим новую клонку с привязками к странам
df4['country'] = df4['airline'].map(country)

In [ ]:
# Функция map специально заточена чтобы работать с сериями и словарями!

In [ ]:
df4

In [ ]:
# Теперь в функцию map заведём не словарь, а серию
ser = pd.Series(country)
df4['airline'].map(ser)
# Абсолютно тот же результат

In [ ]:
df4['country_ser'] = df4['airline'].map(ser)  # добавили новую колонку

In [ ]:
# Функция map также может принимать в работу самодельные функции

In [ ]:
df4

  airline  planes country_ser
0    Air1      10      Russia
1    Book      10         USA
2     Art      20       China
3     Civ      30     Belguim

In [ ]:
# Создадим функцию, которая будет менять данные
def airline_to_country(x):
  return x + '-WOW!'
df4['airline'].map(airline_to_country)

0    Air1-WOW!
1    Book-WOW!
2     Art-WOW!
3     Civ-WOW!
Name: airline, dtype: object

In [ ]:
# Задача 1
df = pd.DataFrame([[0, np.nan, np.nan, 3, 4, 5, 6, 7, 8, np.nan],
                    [np.nan, 11, np.nan, 13, 14, 15, 16, 17, 18, np.nan],
                    [np.nan, np.nan, 22, 23, 24, 25, 26, 27, 28, np.nan],
                    [30, 31, 32, 33, 34, np.nan, 36, 37, 38, np.nan],
                    [40, 41, np.nan, 43, 44, 45, 46, 47, 48, np.nan],
                    [50, 51, 52, np.nan, 54, 55, np.nan, 57, 58, np.nan],
                    [60, 61, 62, 63, 64, np.nan, 66, 67, np.nan, np.nan],
                    [np.nan, 71, 72, 73, 74, 75, 76, 77, 78, np.nan],
                    [80, 81, 82, 83, 84, 85, np.nan, 87, 88, np.nan],
                    [90, 91, 92, 93, 94, 95, 96, 97, 98, np.nan]],
                   columns=["A", "B", "C", "D", "E", "F", "G", "H", "J", "K"])

In [ ]:
def solution(_df):
  _df = _df.fillna({'A' : 0})                   # Столбец А: 0
  _df['B'] = _df['B'].fillna(_df['E'].mean())   # Столбец B: среднее значение из столбца Е
  _df['C'] = _df['C'].fillna(_df['H'].max())    # Столбец С: максимальное значение из столбца H
  _df['F'] = _df['F'].fillna(method='ffill')    # Стобец F: по методу ffill
  _df['G'] = _df['G'].fillna(method='bfill')    # Столбец G: по методу bfill
  del _df['K']                                  # Удалите столбец в котором все значения пропущены. Функцию drop не использовать!
  _df = _df.dropna()                            # Удалите строки, в которых хотя бы одно значение пропущено
  return _df
solution(df)

#result = _df.fillna({'A': 0, 'B': _df['E'].mean(), 'C': _df['H'].max(), 'F': _df['F'].fillna(method='ffill'), 'G': _df['G'].fillna(method='bfill')})

In [ ]:
# ВАЖНО! Отобразить только столбцы, где не все значения являются пропусками - то-есть убрать столбец, где все пропуски
df.loc[:,~df.isnull().all()]

In [ ]:
# ВАЖНО! Отобразить только столбцы, где все значения являются пропусками - то-есть убрать столбецы, где не все пропуски
df.loc[:,df.isnull().all()]

In [ ]:
df1 = pd.DataFrame({'client': ['Sergey', 'Victor', 'Pavel', 'Andrey', 'Petr', 'Sergey'], 
                   'class': ['A', 'B', 'A', 'C', 'D', 'A']})

In [ ]:
# Найдите все повторяющиеся записи в датафрейме. 
# Функция должна вернуть новый датафрейм в котором будут оригинал записи + его дубликаты.
# Записи, которые не имеют дубликатов не должны попасть в новый датафрейм.

In [ ]:
def solution(_df):
    return _df[_df.duplicated(keep=False)]
solution(df1)

## 5.3 Про замену значений и дискретизацию

In [ ]:
# Функция replace
import pandas as pd
import numpy as np
# Заменим ошибочные решения на пропуски
temp = pd.Series([20, 18, -999, 24, -200, 19, 999])
temp.replace(-999, np.nan)  # по одному. Возвращает новую серию. НЕ ИЗМЕНЯЕТ исходные данные!
temp.replace([-999, -200, 999], np.nan)  # сразу все
temp_new = temp.replace([-999, -200, 999], np.nan)  # все значения меняем на НАН
temp_new_new = temp.replace([-999, -200, 999], [0, 1, 2])  # -999 на 0, -200 на 1, 999 на 2 меняем
temp_new_new2 = temp.replace({-999 : 0, -200 : 1, 999 : 2})  # тоже самое через словарь

In [ ]:
# Изменение индексов / названий колонок
df3 = pd.DataFrame()
df3['airline'] = pd.Series(['Air China', 'Jet Airways', 'Aeroflot', 'easyJet'])
df3['planes'] = pd.Series([50, 10, 5, 33])
df3['is_Russia'] = pd.Series(['not-Ru', 'Ru', 'Ru', 'Ru'])
df3.index = df3['airline']
df3

                 airline  planes is_Russia
airline
Air China      Air China      50    not-Ru
Jet Airways  Jet Airways      10        Ru
Aeroflot        Aeroflot       5        Ru
easyJet          easyJet      33        Ru

In [ ]:
# Задача - откорректировать индексы. Взять только 5 первых знаков и возвести их в верхний регистр
# Создадим функцию, которая будет всё мутить
def rename_index(x):
  return x[:5].upper()       # только 5 первых знаков и возвести их в верхний регистр
# Применим функцию к индексу
df3.index = df3.index.map(rename_index)
df3

In [ ]:
# Через функцию lambda будем корректировать нзвание колонок дф
# Переведём название колонок в верхний регистр
df3.columns

In [ ]:
# Сначала через свою функцию
# Так никто не делает!
def rename_col(x):
  return x.upper()
df3.columns.map(rename_col)  # не сохраняем в дф

In [ ]:
# Через lambda
# Вот так принято писать
df3.columns.map(lambda x: x.upper())
# Загоним его в фд
df3.columns = df3.columns.map(lambda x: x.upper())
df3

In [ ]:
# Поменять значение через функцию rename
df3.rename({'JET A' : 'JET B'}, axis=0)  # Обязательно указать ось
df3.rename(index={'JET A' : 'JET B'})    # Тоже самое
df3.rename({'PLANES' : 'PLANES++++'}, axis=1)  
df3.rename(columns={'PLANES' : 'PLANES++++'})  # Тоже самое
# Сразу и колонки и индексы
df3.rename(columns={'PLANES' : 'PLANES++++'}, index={'JET A' : 'JET B'})

In [ ]:
# Разбить на группы непрерывную переменную
# Непрерывную переменную перевести в категориальную
# Функция cut
ages = [33, 21, 12, 33, 24, 56, 67, 90, 23, 44, 23, 25]
# Разбить на категории: 0-20, 21-40, 41-100
bins = [0, 20, 40, 100]  # список с границами разбивки
pd.cut(ages, bins)               # слева значение будет невключительно, справа - включительно (20, 40]
pd.cut(ages, bins, right=False)  # слева значение будет включительно, справа - невключительно [20, 40)
# Результат - Список с принадлежностями к интервалам
result = pd.cut(ages, bins)
# Посмотреть количество значений по каждому интервалу
pd.value_counts(result)  # Привожит сводную таблицу со значениями и их количеством

In [ ]:
# Каждой категории дадим своё имя
names = ['Молодой', 'Возрастной', 'Старый']   # задали имена групп
result2 = pd.cut(ages, bins, labels = names)  # в функцию cut добавили команду по именам групп
pd.value_counts(result2)

In [ ]:
# Разбить по количеству группу, а не по границам
# Разбивает на равные промежутки!
car_gas = [300, 200, 100, 390, 180, 300, 234, 167, 256, 350, 407]  # количество литров топлива в месяц
result3 = pd.cut(car_gas, 5)  # На 5 групп разбить
pd.value_counts(result3)

In [ ]:
# Разбить на группы, но при этом количество значений в каждой группе должно быть одинаковым
# Разбивка на кварцели
# Интервалы будут неравные!
# Тут функция cut уже не поможет
sorted(car_gas)  # просто упорядочили посмотреть
result4 = pd.qcut(car_gas, 4)  # на 4 группы разбить. Интервалы сам подберёт
pd.value_counts(result4)

In [ ]:
# Задача 1. Распределить данные на 3 группы
# От 0 до 3, от 4 до 7, от 8 до 10.
def solution(s1):
    return pd.value_counts(pd.cut(s1, [-float('inf'), 4, 7, float('inf')], labels = ['Плохо', 'Так себе', 'Отлично']))

In [ ]:
# Задача 3.
# Обработать дф. вместо .com -> .cm или .om, а вместо .ru -> рф.
# Условие: примените функцию replace.

df['Веб-сайт'].replace(regex={'\.рф': '.ru', '\.cm': '.com', '\.om': '.com'})

df['Веб-сайт'] = df['Веб-сайт'].map(lambda x:  x.replace('.cm', '.com'))

return df.replace(['\.[co]m$', '\.рф$'], ['.com', '.ru'], regex=True)

In [ ]:
# Regex - проверяет, следует ли интерпретировать to_replace и/или значение как регулярные выражения.
import pandas as pd 
info = pd.DataFrame({ 
    'name':['Parker','Smith','John'], 
    'age':[27,34,31], 
    'city':['US','Belgium','London'] }) 
info.replace('Sm.+','Ela',regex=True)

In [ ]:
# Задача 5
# Функция вытаскивает из названия склада его номер.
import pandas as pd
s1 = pd.Series(['Sklad 26', 'Sklad 18', 'Sklad 36', 'Sklad 5'])

def get_sklad_number(x):                  # 4. функция принимает элемент 1 элемент из серии
    sklad_number = x.split(' ')[1]        # 5. Разбивает на части по пробелу и берёт второе значение - номер склада
    number_as_int = int(sklad_number)     # 6. Преобразуем номер склада а инт
    return number_as_int                  # 7. Возвращаем номер в функцию map

def solution(s1):                         # 2. Функция вызвана и принимает серию в работу
    result = s1.map(get_sklad_number)     # 3. Функция map берёт каждый элемент из серии и отрпавляет его в функцию get_sklad_number. В конце действия формируется новая / откорректированная серия
    return result                         # 8. Выдаём откорректированную серию

solution(s1)                              # 1. Вызываем функцию с аргументом s1. Будем по этой серии проходиться

## 5.4 Определяем выбросы и грамотно устраняем их

In [ ]:
# Источники выбросов:
# 1. Человеческий фактор при оформлении дф
# 2. Технический сбой 
# 3. Этап транспортировки данных между разными системами

In [ ]:
# Каждая строка - это результат теста
# Прибор должен выдавать результаты от -1 до 1
# Значения больше 1 и меньше -1: аномальные значения - выбросы.
# Мы полностью уверены в коррктности работы прибора

# Задача - посмотреть наличие выбросов в измерении №3 - IZM_3

import pandas as pd
import numpy as np
df = pd.DataFrame({
    'IZM_1' : [-1.63, 0.51, -1.33, -0.83, 0.27, 1.28, 0.36, 2.01, -0.43, -0.52],
    'IZM_2' : [0.22, 0.41, -2.07, -0.74, -0.68, -0.62, 0.83, 0.30, -0.72, -0.14],
    'IZM_3' : [-0.31, 0.41, 1.26, -0.41, -0.62, -0.76, 0.02, 0.42, -1.48, 0.71]
}, index = ['TEST#1', 'TEST#2', 'TEST#3', 'TEST#4', 'TEST#5', 'TEST#6', 'TEST#7', 'TEST#8', 'TEST#9', 'TEST#10'])
df

In [ ]:
# Создадим маску
mask = (df.IZM_3>1) | (df.IZM_3<-1)
# знак | - логическое "или"
mask
# Строки со значением True - это выбросы, которые не попадают в наш диапазон

In [ ]:
# Маску передадим в дф
df[mask]
# Получить конкретные значения:
df[mask]['IZM_3']

In [ ]:
# Сделаем тоже самое через модуль
mask2 = np.abs(df.IZM_3) >1
df[mask2]['IZM_3']

In [ ]:
# Функция describe
# Вся описательная статистика
df.describe()

In [ ]:
# Теперь посмотрим выбросы по всему дф
# Если хоть в одном аргументе есть выброс - вывести его на экран
mask2 = np.abs(df) > 1  # Всё, что меньше -1 и больше 1. Весь дф передаём.
#mask2
#df[mask2]  # Вот так получится не то, что хотели!
# Необходимо вывести сроки, в которых есть хотя бы 1 выброс:
#mask2.any()  # Так будет расклад по колонкам. По умолчанию идёт по оси 0 - колонки
mask1d = mask2.any(1)  # Вот маска, которая нам нужно. Ось 1 - по строкам
mask1d

In [ ]:
df[mask1d]  # Вот то, что нам было необходимо. Только те строки, в которых имеется как минимум 1 выброс (менее -1 и более 1)

In [ ]:
# Методы борьбы с выбросами могут быть разными.
# Рассмотрим пример зануления выбросов. Самый простой случай.
mask2 = np.abs(df) > 1  # маска, которая показывает только выбросы. Нормальные значения будут НаН
#df[mask2]  # Вот дф только с выбросами
df[mask2] = 0  # Вот так просто всем выбросам присваиваем значение 0
df

In [ ]:
# Значения меньше -1 приведём к занчению -1
# Значения больше 1 приведём к значению 1
# Функция sign
# Функция sign выводит -1, если значение, которые вы передали, меньше 0, и 1 если значение, которое вы передали, больше 0
mask3 = np.abs(df) > 1  # заново создали маску с выбросами
#df[mask3]  # вот наши выбросы, с которыми необходимо работать
#np.sign(df)  # выведет дф с 1 и -1
df[mask3] = np.sign(df)  # Вот этот трюк. Только аргументы-выбросы меняются на значения от функции sign
df

In [ ]:
# Альтернативное решение той же задачи
# Функция clip
np.clip(df, -1, 1)
#df.clip(-1, 1, inplace=True)

In [ ]:
# Пример генерации рандомного дф
df_r = pd.DataFrame(np.random.randn(10, 3),
                    index = ['Test#' + str(i) for i in range(1,11)],
                    columns = ['IZM_' + str(i) for i in range(1,4)])
df_r

In [ ]:
mask10 = np.abs(df_r) > 1
df_r[mask10] = np.sign(df_r)
df_r.describe()

In [ ]:
df1 = pd.DataFrame(np.arange(30).reshape(10, 3))
df1

In [ ]:
# Перетусовать местами строки
idx = np.random.permutation(10)  # Создать одномерный массив из 10 элементов в хаотичном порядке
df1.iloc[idx]  # Перетусует строки
#df.take(idx)  # Абсолютно такой же результат

In [ ]:
# Взять 4 случайные строчки
# Функция sample. По умолчанию строчки в новой подборке не повторяются.
df1.sample(4, replace=True)  # 4 случайные строчки. Может повторно брать строки, которые уже брал.

In [ ]:
# Функция beetween
df['IZM_1'].between(-1, 1, inclusive=True)

In [ ]:
# Найти максимальное значение по каждой колонке / строке
df.max(axis='rows')     # Максимальное значение в каждом столбце. Идёт по строкам
df.max(axis='columns')  # Максимальное значение в каждой строке. Идёт по колонкам
df.max(axis='rows')     # Максимальное значение в каждом столбце. Идёт по строкам
df.max(axis='columns')  # Максимальное значение в каждой строке. Идёт по колонкам

## 5.5 Создаём матрицы фиктивных переменных

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# dummy - фиктивный
# get_dummies()
# для возмжности использования категориальных переменных в статистических рассчётах / в машинном обучении

In [ ]:
# Пример
cinema =  ({'Film': ['Анчартед', 'Доктор Стрендж', 'Соник 2', 'Одиннадцать мужчин', 'Тор', 'Мистер Нокаут', 'Я краснею'],
            'Durations': [115, 126, 122, 121, 119, 118, 100],
            'Genre': ['боевик', 'фантастика', 'боевик', 'драма', 'фантастика', 'спорт', 'приключения']})
df = pd.DataFrame(cinema)
#df
# Создание фиктивной матрицы
m = pd.get_dummies(df.Genre, prefix = 'genre')  # matrix
df.join(m)  # склеенный дф / тут лишний столбец образовался!
df[['Film', 'Durations']].join(m)  # вот готовый дф

In [ ]:
# Пример посложнее, где несколько переменных в одной ячейке
# По умолчаю функция не сможет корректно разбить колонки
films = pd.DataFrame([['Анчартед', 115, 'боевик|приключения'], 
                      ['Доктор Стрэндж', 126, 'фантастика|боевик|приключения'], 
                      ['Соник', 122, 'боевик|приключения'], 
                      ['Одиннадцать', 121, 'драма|спорт'], 
                      ['Тор', 119, 'фантастика|боевик'], 
                      ['Мистер нокаут', 118, 'спорт'],
                      ['Я краснею', 100, 'приключения']], columns=['Film', 'Duration', 'Genre'])
# Вытащим уникальные значения жанров через цикл
all_genres = []
for x in films.Genre:
  all_genres.extend(x.split('|'))   # разбили по знаку и добавили все значения в список all_genres
genres = pd.unique(all_genres)      # взял только уникальные значения
# Создадим таблицу с 0, которую заполним соответстенно
m = np.zeros((len(films), len(genres)), dtype='int')
# Создаём матрицу, которую будем клеить к дф
matrix = pd.DataFrame(m, columns = genres)
# Составим цикл, который будет сам подставлять 1 там, где это необходимо
for i, genre in enumerate(films.Genre):
  idx = matrix.columns.get_indexer(genre.split('|'))
  matrix.iloc[i, idx] = 1
# Приклеим к основному дф
films = films[['Film', 'Duration']].join(matrix.add_prefix('genre_'))
films

In [ ]:
# Данную функцию также можно использовать для количественных переменных
# Разделить фильмы на 2 группы по продолжительности фильма
# Для это функцию dummies необходимо использовать совместно с функциями cut / qcut

films = pd.DataFrame([['Анчартед', 115, 'боевик|приключения'], 
                      ['Доктор Стрэндж', 126, 'фантастика|боевик|приключения'], 
                      ['Соник', 122, 'боевик|приключения'], 
                      ['Одиннадцать', 121, 'драма|спорт'], 
                      ['Тор', 119, 'фантастика|боевик'], 
                      ['Мистер нокаут', 118, 'спорт'],
                      ['Я краснею', 100, 'приключения']], columns=['Film', 'Duration', 'Genre'])
# Создадим матрицу с разделением
matrix = pd.get_dummies(pd.qcut(films.Duration, 2))  # 2 части / колонки
films = films.join(matrix.add_prefix('duration_'))
films

In [ ]:
# Задача 1
# Заполнить пропуски / создать дополнить колонками с бинарными данными
_df = pd.DataFrame([['ivan333@gmail.com', 'matvey443@mail.ru', 'jeck44@meil.ru',
                     'katy4443@mail.ru', 'roma443@mail.ru'],
                   ['ru', 'en', 'jp', 'ru', 'kz'],
                    ['demo', 'demo', 'regular', 'regular', np.NAN]]
                   ).T
_df.columns = ['account', 'lang', 'tarif']
def solution(_df):
  _df = _df.fillna('regular')
  m = pd.get_dummies(_df[['lang', 'tarif']])
  _df = _df.join(m)
  _df = _df.drop(columns = ['lang', 'tarif'])
  return _df
solution(_df)

In [ ]:
_df

             account lang    tarif
0  ivan333@gmail.com   ru     demo
1  matvey443@mail.ru   en     demo
2     jeck44@meil.ru   jp  regular
3   katy4443@mail.ru   ru  regular
4    roma443@mail.ru   kz      NaN

In [ ]:
# Задача 2
# Доработайте алгоритм, который вы сделали для предыдущего задания, с учётом нескольких языков.
_df = pd.DataFrame({'account': {0: 'ivan111@gmail.com', 1: 'ivan000@mail.ru', 2: 'je=ack123@mail.ru', 3: 'petr432@yandex.ru', 4: 'jack000@yandex.ru'},
      'lang': {0: 'ru', 1: 'en,jp', 2: 'jp,en', 3: 'ru,en', 4: 'jp,ru'},
      'tarif': {0: 'demo', 1: 'demo', 2: 'regular', 3: 'regular', 4: 'demo'}})
def task2(_df):
  n = pd.get_dummies(_df[['tarif']])
  mm = _df['lang'].str.get_dummies(sep=',')
  n = n.join(mm.add_prefix('lang_'))
  _df = _df.join(n)
  _df = _df[['account', 'lang_en', 'lang_jp', 'lang_ru', 'tarif_demo', 'tarif_regular']]
  return _df
task2(_df)

In [ ]:
# Задача 3
# Обратная задача.
clm = ['account', 'tarif_demo', 'tarif_premium', 'tarif_regular']
data = [['ivan333@gmail.com', 1, 0, 0], 
       ['matvey443@mail.ru', 1, 0, 0], 
       ['jeck44@meil.ru', 0, 1, 0], 
       ['katy4443@mail.ru', 0, 1, 0], 
       ['roma443@mail.ru', 0, 0, 1]]
_df = pd.DataFrame (data, columns = clm)

In [ ]:
__df = _df[['tarif_demo', 'tarif_premium', 'tarif_regular']]
def decode(row):
  for c in __df.columns:
    if row[c]==1:
      return c
_df['tarif'] = __df.apply(decode, axis=1)
_df['tarif'] = _df['tarif'].apply(lambda x: x.split('_')[1])
_df = _df[['account', 'tarif']]

## 5.6 Работа со строками - проще чем кажется!

In [ ]:
# Для возможности редактирования значений внутрий дф необходимо использовать функцию str
df['user'].str.replace('@', '-')
# никаких проблем с наличием NaN в дф не будет
df['user'].str[0]   # обращение к символу
df['user'].srt.contains('1')    # проверит наличие 1 в каждой ячейке и вернёт булевое значение
df['user'].str.startswith('2')  # проверит факт начала строки с 2 и вернёт булевые значения
df['user'].str.endswith('2')    # проверит факт окончания строки на 2 и вернёт булевые значения
df['user'].str.len()            # вернёт длину строки для каждой ячейки

In [ ]:
# Также возможно использовать функцию map
def f(x):
  return x.replace('@', '-')
df['user'].map(f)
# выдаст ошибку, если будет NaN в дф

In [ ]:
# Задача 1
import pandas as pd
import numpy as np
df_dickt = {'driver': {0: 'Петров А.Б', 1: 'Скворцов М.В.',
                       2: 'Адреев Н.И.', 3: 'Водитель Орлов Б.А.',
                       4: 'Михайлов Д.В. (уволен 01.01.2022)',
                       5: 'Торетто Игорь Степанович (уволен за превышение скорости 01.01.2022)'},
            'car': {0: 'Б432АВ', 1: 'М012ГД', 2: 'В122УВ', 3: 'А4212ЛД', 4: '432ЯАВ', 5: '432А'},
            'car_type': {0: 'Грузовик', 1: 'Легковая', 2: 'Автобус', 3: 'Автокран', 4: '?', 5: '?'},
            'fuel_rate': {0: '14.2', 1: '9,8', 2: '19.4', 3: '25,6', 4: '7.8', 5: '5.5'}}
df = pd.DataFrame(df_dickt)
#df
def task1(df):
  df.driver = df.driver.str.replace('Водитель ', '')
  df = df[~df.driver.str.contains('уволен')]
  return df
task1(df)

In [ ]:
# Задача 2
def task2(_df):
    _df = _df[(_df.car.str.len()!=6)|(~_df.car.str[0].str.isalpha())]
    return _df
task2(df)

In [ ]:
# Задача 3
def task3(_df):
    _df.fuel_rate = _df.fuel_rate.str.replace(',', '.')
    _df = _df.astype({'fuel_rate' : 'float'})
    result = _df.fuel_rate.mean()
    return result
task3(df)

In [ ]:
# Найдите максимальное потребление топлива среди автомобилей с номерами, которые заканчиваются на букву В
def task4(_df):
    _df.fuel_rate = _df.fuel_rate.str.replace(',', '.')
    _df = _df.astype({'fuel_rate' : 'float'})
    _df = _df[_df.car.str.endswith('B')]
    result = _df.fuel_rate.max()
    return result
task4(df)

In [ ]:
# Преобразуйте строковые значения в столбце car_type следующим образом: первый символ должен быть в нижнем регистре, а все остальные в верхнем:
def task5(_df):
    _df.car_type = _df.car_type.str.swapcase()
    return _df
task5(df)

In [ ]:
# Если номер транспортного средства начинается с буквы В, то замените эту букву на Б
def task6(_df):
    mask = _df['car'].str.startswith('В')
    _df['car'][mask] = _df['car'][mask].str.replace('В','Б',1)
    return _df
    #return mask
task6(df)

# 6. Объединение данных и преобразование формы

## 6.1 Знакомство с иерархической индексацией

In [ ]:
# Разложить строку с мультииндексом в дф без мильтииндекса
s2.unstack()

In [ ]:
# Свернуть дф в строку с мультииндексом
df.stack()

In [ ]:
# Задать первую и вторую колонки мультииндексом
df = pd.read_csv('C:/Users/Test/Documents/DS/docs/pandas/Lesson_6/task2.csv', index_col=[0, 1])

## 6.2 Действия с мультииндексами в датафреймах

In [ ]:
# Функкция reset_index заводит индекс в дф

In [ ]:
# Функция set_index заводит колонки дф в индекс

In [ ]:
# Избавиться от мультииндекса
df.columns = ['_'.join(col).strip() for col in df.columns.values]

In [ ]:
# Поменять местами индексы
df = df.swaplevel().swaplevel(0,1)

In [ ]:
# Группировка по индексам
df = df.sort_index(level=[0, 1], ascending=[True, True])

In [ ]:
# Убрать верхний уровень мультииндекса
df = df.droplevel(0, axis=1)

In [ ]:
# Сбросить определённый индекс в дф
df = df.reset_index(2).rename(columns={'level_2' : 'type'})

## 6.3 Учимся соединять датафреймы с помощью merge

In [ ]:
# 
#

In [ ]:
# 
#

## 6.4 Аналог merge; конкатенация датафреймов через concat

In [ ]:
# Функция join
# Автоматические соединяет по индексам!
df3 = df2.join(df2)
# По умолчанию left join!

In [ ]:
# inner
df3 = df2.join(df2, how='inner')

In [ ]:
# Не пропускает повторные имена колонок
df3 = df2.join(df2, lsuffix = 'l', rsuffix='r')

In [ ]:
# Удобен для склейки нескольких дф
df3 = df2.join([df2,df5] how='inner')

In [ ]:
# Присоединить снизу ещё дф
# Функция pd.concat
pd.concat([df1, df2])

In [ ]:
# Сбросить индексы
pd.concat([df1, df2], ignor_index = True)

In [ ]:
# Передать метку для понимания откуда какие данные
pd.concat([df1, df2], key = ['firts', 'second'])
# в результате - мультииндекс

In [ ]:
# Задать только одинаковые колонки
pd.concat([df1, df2], key = ['firts', 'second'], join='inner')
# По умолчанию join='outer'

In [ ]:
# Может работать, как merge
pd.concat([df1, df2], axis = 1)
# Соединяет по индексам!

## 6.5 Комбинирование данных и преобразование формы

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Комбинирование серий
s1.combine_first(s2)
# Будет в серии 1 искать пропущенные значения и если значение отсутствует - будет подставлять его из серии 2.
# Поиск происходит по индексам!

In [ ]:
# Комбинирование дф
df1.column1.combine_first(df2.column1)
# Данный способ хорош, если только одну колонку необходимо комбинировать

In [ ]:
# Сравнение всех ячеек
df1.combine_first(df2)
# Проходится самостоятельно по всем колонкам

In [ ]:
# Переход от длинной таблицы к широкой и наоборот